body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3419 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:5px;
}
#u3420 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:5px;
}
#u3421 {
  position:absolute;
  left:2px;
  top:-6px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:136px;
}
#u3422 {
  position:absolute;
  left:0px;
  top:4px;
  width:340px;
  height:136px;
}
#u3423 {
  position:absolute;
  left:2px;
  top:60px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:23px;
}
#u3424 {
  position:absolute;
  left:31px;
  top:12px;
  width:217px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3425 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u3426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u3426 {
  position:absolute;
  left:20px;
  top:41px;
  width:300px;
  height:1px;
}
#u3427 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3428 {
  position:absolute;
  left:31px;
  top:60px;
  width:129px;
  height:30px;
  font-size:12px;
}
#u3429 {
  position:absolute;
  left:2px;
  top:8px;
  width:125px;
  word-wrap:break-word;
}
#u3430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3430 {
  position:absolute;
  left:191px;
  top:60px;
  width:69px;
  height:30px;
}
#u3431 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u3432_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3432 {
  position:absolute;
  left:240px;
  top:70px;
  width:30px;
  height:30px;
}
#u3433 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3434_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3434 {
  position:absolute;
  left:140px;
  top:80px;
  width:30px;
  height:30px;
}
#u3435 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
