body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15647 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:10px;
}
#u15648 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:10px;
}
#u15649 {
  position:absolute;
  left:2px;
  top:-3px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:283px;
}
#u15650 {
  position:absolute;
  left:0px;
  top:7px;
  width:440px;
  height:283px;
}
#u15651 {
  position:absolute;
  left:2px;
  top:134px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:23px;
}
#u15652 {
  position:absolute;
  left:166px;
  top:12px;
  width:109px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u15653 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u15654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15654 {
  position:absolute;
  left:315px;
  top:83px;
  width:50px;
  height:30px;
  font-size:12px;
}
#u15655 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u15656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:2px;
}
#u15656 {
  position:absolute;
  left:20px;
  top:41px;
  width:400px;
  height:1px;
}
#u15657 {
  position:absolute;
  left:2px;
  top:-8px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u15658 {
  position:absolute;
  left:32px;
  top:56px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15659 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u15660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u15660 {
  position:absolute;
  left:87px;
  top:51px;
  width:200px;
  height:26px;
  color:#999999;
  text-align:left;
}
#u15661 {
  position:absolute;
  left:2px;
  top:5px;
  width:196px;
  word-wrap:break-word;
}
#u15662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u15662 {
  position:absolute;
  left:30px;
  top:88px;
  width:37px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15663 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u15664 {
  position:absolute;
  left:87px;
  top:87px;
  width:200px;
  height:22px;
}
#u15664_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u15664_input:disabled {
  color:grayText;
}
#u15665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:2px;
}
#u15665 {
  position:absolute;
  left:20px;
  top:132px;
  width:400px;
  height:1px;
}
#u15666 {
  position:absolute;
  left:2px;
  top:-8px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15667 {
  position:absolute;
  left:20px;
  top:143px;
  width:305px;
  height:65px;
}
#u15668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u15668 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u15669 {
  position:absolute;
  left:2px;
  top:8px;
  width:165px;
  word-wrap:break-word;
}
#u15670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u15670 {
  position:absolute;
  left:169px;
  top:0px;
  width:131px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u15671 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u15672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u15672 {
  position:absolute;
  left:0px;
  top:30px;
  width:169px;
  height:30px;
  font-size:12px;
}
#u15673 {
  position:absolute;
  left:2px;
  top:8px;
  width:165px;
  word-wrap:break-word;
}
#u15674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u15674 {
  position:absolute;
  left:169px;
  top:30px;
  width:131px;
  height:30px;
  font-size:12px;
}
#u15675 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u15676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15676 {
  position:absolute;
  left:237px;
  top:250px;
  width:50px;
  height:30px;
  font-size:12px;
}
#u15677 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u15678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15678 {
  position:absolute;
  left:310px;
  top:250px;
  width:60px;
  height:30px;
}
#u15679 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u15680 {
  position:absolute;
  left:30px;
  top:180px;
  width:100px;
  height:16px;
}
#u15681 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15680_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u15682_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u15682 {
  position:absolute;
  left:270px;
  top:260px;
  width:30px;
  height:30px;
}
#u15683 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
