body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10836 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:5px;
}
#u10837 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:5px;
}
#u10838 {
  position:absolute;
  left:2px;
  top:-6px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:136px;
}
#u10839 {
  position:absolute;
  left:0px;
  top:4px;
  width:300px;
  height:136px;
}
#u10840 {
  position:absolute;
  left:2px;
  top:60px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:23px;
}
#u10841 {
  position:absolute;
  left:31px;
  top:12px;
  width:127px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u10842 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u10843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:2px;
}
#u10843 {
  position:absolute;
  left:20px;
  top:41px;
  width:230px;
  height:1px;
}
#u10844 {
  position:absolute;
  left:2px;
  top:-8px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u10845 {
  position:absolute;
  left:28px;
  top:60px;
  width:50px;
  height:30px;
  font-size:12px;
}
#u10846 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u10847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10847 {
  position:absolute;
  left:101px;
  top:60px;
  width:60px;
  height:30px;
}
#u10848 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u10849_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u10849 {
  position:absolute;
  left:61px;
  top:70px;
  width:30px;
  height:30px;
}
#u10850 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10851_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u10851 {
  position:absolute;
  left:135px;
  top:70px;
  width:30px;
  height:30px;
}
#u10852 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
