body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10474 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:7px;
}
#u10475 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:7px;
}
#u10476 {
  position:absolute;
  left:2px;
  top:-4px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:195px;
}
#u10477 {
  position:absolute;
  left:0px;
  top:5px;
  width:440px;
  height:195px;
}
#u10478 {
  position:absolute;
  left:2px;
  top:90px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:23px;
}
#u10479 {
  position:absolute;
  left:50px;
  top:26px;
  width:145px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u10480 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u10481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10481 {
  position:absolute;
  left:41px;
  top:124px;
  width:127px;
  height:40px;
}
#u10482 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u10483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10483 {
  position:absolute;
  left:211px;
  top:124px;
  width:110px;
  height:40px;
}
#u10484 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u10485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u10485 {
  position:absolute;
  left:50px;
  top:60px;
  width:370px;
  height:1px;
}
#u10486 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10487_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u10487 {
  position:absolute;
  left:301px;
  top:144px;
  width:30px;
  height:30px;
}
#u10488 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:15px;
}
#u10489 {
  position:absolute;
  left:44px;
  top:175px;
  width:267px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u10490 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u10491_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u10491 {
  position:absolute;
  left:156px;
  top:145px;
  width:30px;
  height:30px;
}
#u10492 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10493 {
  position:absolute;
  left:341px;
  top:144px;
  width:58px;
  height:20px;
}
#u10494 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
