body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:5px;
}
#u9905 {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:5px;
}
#u9906 {
  position:absolute;
  left:2px;
  top:-6px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:136px;
}
#u9907 {
  position:absolute;
  left:0px;
  top:4px;
  width:590px;
  height:136px;
}
#u9908 {
  position:absolute;
  left:2px;
  top:60px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:23px;
}
#u9909 {
  position:absolute;
  left:31px;
  top:12px;
  width:199px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u9910 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u9911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:2px;
}
#u9911 {
  position:absolute;
  left:20px;
  top:41px;
  width:530px;
  height:1px;
}
#u9912 {
  position:absolute;
  left:2px;
  top:-8px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9913 {
  position:absolute;
  left:31px;
  top:60px;
  width:199px;
  height:30px;
  font-size:12px;
}
#u9914 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u9915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9915 {
  position:absolute;
  left:481px;
  top:60px;
  width:69px;
  height:30px;
}
#u9916 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u9917_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u9917 {
  position:absolute;
  left:530px;
  top:80px;
  width:30px;
  height:30px;
}
#u9918 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9919_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u9919 {
  position:absolute;
  left:210px;
  top:80px;
  width:30px;
  height:30px;
}
#u9920 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9921 {
  position:absolute;
  left:261px;
  top:60px;
  width:199px;
  height:30px;
  font-size:12px;
}
#u9922 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u9923_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u9923 {
  position:absolute;
  left:441px;
  top:80px;
  width:30px;
  height:30px;
}
#u9924 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
