body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:9px;
}
#u5050 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:9px;
}
#u5051 {
  position:absolute;
  left:2px;
  top:-4px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:263px;
}
#u5052 {
  position:absolute;
  left:0px;
  top:7px;
  width:600px;
  height:263px;
}
#u5053 {
  position:absolute;
  left:2px;
  top:124px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:23px;
}
#u5054 {
  position:absolute;
  left:228px;
  top:10px;
  width:109px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5055 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u5056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5056 {
  position:absolute;
  left:530px;
  top:49px;
  width:50px;
  height:30px;
  font-size:12px;
}
#u5057 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u5058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:2px;
}
#u5058 {
  position:absolute;
  left:20px;
  top:41px;
  width:560px;
  height:1px;
}
#u5059 {
  position:absolute;
  left:2px;
  top:-8px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u5060 {
  position:absolute;
  left:32px;
  top:56px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5061 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5062 {
  position:absolute;
  left:87px;
  top:51px;
  width:143px;
  height:26px;
}
#u5063 {
  position:absolute;
  left:2px;
  top:5px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:2px;
}
#u5064 {
  position:absolute;
  left:27px;
  top:89px;
  width:560px;
  height:1px;
}
#u5065 {
  position:absolute;
  left:2px;
  top:-8px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u5066 {
  position:absolute;
  left:280px;
  top:55px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5067 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5068 {
  position:absolute;
  left:344px;
  top:51px;
  width:163px;
  height:26px;
}
#u5069 {
  position:absolute;
  left:2px;
  top:5px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5070 {
  position:absolute;
  left:27px;
  top:100px;
  width:565px;
  height:64px;
}
#u5071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:29px;
}
#u5071 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:29px;
  font-size:12px;
  color:#FFFFFF;
}
#u5072 {
  position:absolute;
  left:2px;
  top:7px;
  width:165px;
  word-wrap:break-word;
}
#u5073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:29px;
}
#u5073 {
  position:absolute;
  left:169px;
  top:0px;
  width:120px;
  height:29px;
  font-size:12px;
  color:#FFFFFF;
}
#u5074 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u5075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:29px;
}
#u5075 {
  position:absolute;
  left:289px;
  top:0px;
  width:131px;
  height:29px;
  font-size:12px;
  color:#FFFFFF;
}
#u5076 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  word-wrap:break-word;
}
#u5077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
}
#u5077 {
  position:absolute;
  left:420px;
  top:0px;
  width:140px;
  height:29px;
  font-size:12px;
  color:#FFFFFF;
}
#u5078 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u5079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u5079 {
  position:absolute;
  left:0px;
  top:29px;
  width:169px;
  height:30px;
  font-size:12px;
}
#u5080 {
  position:absolute;
  left:2px;
  top:8px;
  width:165px;
  word-wrap:break-word;
}
#u5081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u5081 {
  position:absolute;
  left:169px;
  top:29px;
  width:120px;
  height:30px;
  font-size:12px;
}
#u5082 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u5083 {
  position:absolute;
  left:289px;
  top:29px;
  width:131px;
  height:30px;
  font-size:12px;
}
#u5084 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u5085 {
  position:absolute;
  left:420px;
  top:29px;
  width:140px;
  height:30px;
  font-size:12px;
}
#u5086 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u5087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5087 {
  position:absolute;
  left:234px;
  top:220px;
  width:50px;
  height:30px;
  font-size:12px;
}
#u5088 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u5089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5089 {
  position:absolute;
  left:307px;
  top:220px;
  width:60px;
  height:30px;
}
#u5090 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u5091 {
  position:absolute;
  left:37px;
  top:137px;
  width:100px;
  height:16px;
}
#u5092 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5091_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5093_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u5093 {
  position:absolute;
  left:267px;
  top:230px;
  width:30px;
  height:30px;
}
#u5094 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
