body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4855 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:5px;
}
#u4856 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:5px;
}
#u4857 {
  position:absolute;
  left:2px;
  top:-6px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:136px;
}
#u4858 {
  position:absolute;
  left:0px;
  top:3px;
  width:500px;
  height:136px;
}
#u4859 {
  position:absolute;
  left:2px;
  top:60px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:21px;
}
#u4860 {
  position:absolute;
  left:31px;
  top:26px;
  width:433px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4861 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  white-space:nowrap;
}
#u4862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4862 {
  position:absolute;
  left:31px;
  top:78px;
  width:140px;
  height:40px;
}
#u4863 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4864_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u4864 {
  position:absolute;
  left:151px;
  top:98px;
  width:30px;
  height:30px;
}
#u4865 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4866 {
  position:absolute;
  left:211px;
  top:78px;
  width:140px;
  height:40px;
}
#u4867 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:2px;
}
#u4868 {
  position:absolute;
  left:31px;
  top:60px;
  width:433px;
  height:1px;
}
#u4869 {
  position:absolute;
  left:2px;
  top:-8px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
