body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16512 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:7px;
}
#u16513 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:7px;
}
#u16514 {
  position:absolute;
  left:2px;
  top:-4px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:185px;
}
#u16515 {
  position:absolute;
  left:0px;
  top:5px;
  width:440px;
  height:185px;
}
#u16516 {
  position:absolute;
  left:2px;
  top:84px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:23px;
}
#u16517 {
  position:absolute;
  left:166px;
  top:12px;
  width:109px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u16518 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u16519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:2px;
}
#u16519 {
  position:absolute;
  left:20px;
  top:41px;
  width:400px;
  height:1px;
}
#u16520 {
  position:absolute;
  left:2px;
  top:-8px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u16521 {
  position:absolute;
  left:32px;
  top:56px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16522 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u16523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u16523 {
  position:absolute;
  left:30px;
  top:88px;
  width:37px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16524 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u16525 {
  position:absolute;
  left:87px;
  top:87px;
  width:218px;
  height:22px;
}
#u16525_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u16525_input:disabled {
  color:grayText;
}
#u16526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u16526 {
  position:absolute;
  left:287px;
  top:130px;
  width:50px;
  height:30px;
  font-size:12px;
}
#u16527 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u16528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16528 {
  position:absolute;
  left:360px;
  top:130px;
  width:60px;
  height:30px;
}
#u16529 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u16530_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u16530 {
  position:absolute;
  left:320px;
  top:140px;
  width:30px;
  height:30px;
}
#u16531 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16532 {
  position:absolute;
  left:87px;
  top:56px;
  width:218px;
  height:25px;
}
#u16532_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF0000;
}
#u16533 {
  position:absolute;
  left:87px;
  top:119px;
  width:106px;
  height:13px;
  font-size:11px;
  color:#FF0000;
}
#u16534 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
