body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5455 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:5px;
}
#u5456 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:5px;
}
#u5457 {
  position:absolute;
  left:2px;
  top:-6px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:136px;
}
#u5458 {
  position:absolute;
  left:0px;
  top:4px;
  width:300px;
  height:136px;
}
#u5459 {
  position:absolute;
  left:2px;
  top:60px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
}
#u5460 {
  position:absolute;
  left:31px;
  top:12px;
  width:91px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5461 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:2px;
}
#u5462 {
  position:absolute;
  left:20px;
  top:41px;
  width:230px;
  height:1px;
}
#u5463 {
  position:absolute;
  left:2px;
  top:-8px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5464 {
  position:absolute;
  left:28px;
  top:60px;
  width:50px;
  height:30px;
  font-size:12px;
}
#u5465 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u5466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5466 {
  position:absolute;
  left:101px;
  top:60px;
  width:69px;
  height:30px;
}
#u5467 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u5468_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u5468 {
  position:absolute;
  left:61px;
  top:70px;
  width:30px;
  height:30px;
}
#u5469 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5470_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u5470 {
  position:absolute;
  left:150px;
  top:70px;
  width:30px;
  height:30px;
}
#u5471 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5472 {
  position:absolute;
  left:190px;
  top:65px;
  width:58px;
  height:20px;
}
#u5473 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u5474_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u5474 {
  position:absolute;
  left:240px;
  top:70px;
  width:30px;
  height:30px;
}
#u5475 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
