body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u28065 {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:80px;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u28066 {
  position:absolute;
  left:2px;
  top:23px;
  width:1376px;
  word-wrap:break-word;
}
#u28067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:2000px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28067 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:2000px;
}
#u28068 {
  position:absolute;
  left:2px;
  top:992px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u28069 {
  position:absolute;
  left:1150px;
  top:36px;
  width:210px;
  height:16px;
  color:#1E1E1E;
}
#u28070 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u28071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00A597;
}
#u28071 {
  position:absolute;
  left:217px;
  top:29px;
  width:243px;
  height:31px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00A597;
}
#u28072 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u28073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2000px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28073 {
  position:absolute;
  left:180px;
  top:80px;
  width:1200px;
  height:2000px;
}
#u28074 {
  position:absolute;
  left:2px;
  top:992px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u28075 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u28075_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u28075.mouseOver {
}
#u28075_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u28075.selected {
}
#u28076 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u28077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u28077 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u28077_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u28077.mouseOver {
}
#u28077_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u28077.selected {
}
#u28078 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u28079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:54px;
}
#u28079 {
  position:absolute;
  left:10px;
  top:10px;
  width:160px;
  height:54px;
}
#u28080 {
  position:absolute;
  left:2px;
  top:19px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u28081 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u28081_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u28081.mouseOver {
}
#u28081_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u28081.selected {
}
#u28082 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u28083_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u28083 {
  position:absolute;
  left:120px;
  top:140px;
  width:30px;
  height:30px;
}
#u28084 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28085_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u28085 {
  position:absolute;
  left:120px;
  top:180px;
  width:30px;
  height:30px;
}
#u28086 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u28087 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u28087_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u28087.mouseOver {
}
#u28087_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u28087.selected {
}
#u28088 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u28089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:37px;
}
#u28089 {
  position:absolute;
  left:216px;
  top:130px;
  width:529px;
  height:37px;
}
#u28090 {
  position:absolute;
  left:2px;
  top:10px;
  width:525px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#F2F2F2;
}
#u28091 {
  position:absolute;
  left:253px;
  top:137px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#F2F2F2;
}
#u28092 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u28093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u28093 {
  position:absolute;
  left:229px;
  top:138px;
  width:15px;
  height:17px;
}
#u28094 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:278px;
}
#u28095 {
  position:absolute;
  left:216px;
  top:167px;
  width:529px;
  height:278px;
}
#u28096 {
  position:absolute;
  left:2px;
  top:131px;
  width:525px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28097 {
  position:absolute;
  left:240px;
  top:190px;
  width:495px;
  height:65px;
}
#u28098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
}
#u28098 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
}
#u28099 {
  position:absolute;
  left:2px;
  top:7px;
  width:229px;
  word-wrap:break-word;
}
#u28100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u28100 {
  position:absolute;
  left:233px;
  top:0px;
  width:145px;
  height:30px;
}
#u28101 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u28102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u28102 {
  position:absolute;
  left:378px;
  top:0px;
  width:112px;
  height:30px;
}
#u28103 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u28104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
}
#u28104 {
  position:absolute;
  left:0px;
  top:30px;
  width:233px;
  height:30px;
}
#u28105 {
  position:absolute;
  left:2px;
  top:7px;
  width:229px;
  word-wrap:break-word;
}
#u28106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u28106 {
  position:absolute;
  left:233px;
  top:30px;
  width:145px;
  height:30px;
}
#u28107 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u28108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u28108 {
  position:absolute;
  left:378px;
  top:30px;
  width:112px;
  height:30px;
}
#u28109 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28110 {
  position:absolute;
  left:641px;
  top:226px;
  width:69px;
  height:20px;
}
#u28111 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  word-wrap:break-word;
}
#u28112_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u28112 {
  position:absolute;
  left:690px;
  top:230px;
  width:30px;
  height:30px;
}
#u28113 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
