body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:5px;
}
#u4136 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:5px;
}
#u4137 {
  position:absolute;
  left:2px;
  top:-6px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:136px;
}
#u4138 {
  position:absolute;
  left:0px;
  top:4px;
  width:300px;
  height:136px;
}
#u4139 {
  position:absolute;
  left:2px;
  top:60px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:23px;
}
#u4140 {
  position:absolute;
  left:31px;
  top:12px;
  width:199px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4141 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u4142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:2px;
}
#u4142 {
  position:absolute;
  left:20px;
  top:41px;
  width:230px;
  height:1px;
}
#u4143 {
  position:absolute;
  left:2px;
  top:-8px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4144 {
  position:absolute;
  left:28px;
  top:60px;
  width:50px;
  height:30px;
  font-size:12px;
}
#u4145 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u4146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4146 {
  position:absolute;
  left:101px;
  top:60px;
  width:60px;
  height:30px;
}
#u4147 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u4148_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u4148 {
  position:absolute;
  left:61px;
  top:70px;
  width:30px;
  height:30px;
}
#u4149 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4150 {
  position:absolute;
  left:182px;
  top:65px;
  width:58px;
  height:20px;
}
#u4151 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u4152_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u4152 {
  position:absolute;
  left:230px;
  top:70px;
  width:30px;
  height:30px;
}
#u4153 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
