body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u1192 {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:80px;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u1193 {
  position:absolute;
  left:2px;
  top:23px;
  width:1376px;
  word-wrap:break-word;
}
#u1194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:2000px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1194 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:2000px;
}
#u1195 {
  position:absolute;
  left:2px;
  top:992px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u1196 {
  position:absolute;
  left:1150px;
  top:36px;
  width:210px;
  height:16px;
  color:#1E1E1E;
}
#u1197 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u1198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00A597;
}
#u1198 {
  position:absolute;
  left:217px;
  top:29px;
  width:243px;
  height:31px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00A597;
}
#u1199 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u1200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2000px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1200 {
  position:absolute;
  left:180px;
  top:80px;
  width:1200px;
  height:2000px;
}
#u1201 {
  position:absolute;
  left:2px;
  top:992px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1202 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1202_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1202.mouseOver {
}
#u1202_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1202.selected {
}
#u1203 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u1204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1204 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1204_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1204.mouseOver {
}
#u1204_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1204.selected {
}
#u1205 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u1206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:54px;
}
#u1206 {
  position:absolute;
  left:10px;
  top:10px;
  width:160px;
  height:54px;
}
#u1207 {
  position:absolute;
  left:2px;
  top:19px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1208 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1208_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1208.mouseOver {
}
#u1208_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1208.selected {
}
#u1209 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u1210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1210 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1210_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1210.mouseOver {
}
#u1210_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1210.selected {
}
#u1211 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u1212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1212 {
  position:absolute;
  left:0px;
  top:240px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1212_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1212.mouseOver {
}
#u1212_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1212.selected {
}
#u1213 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u1214 {
  position:absolute;
  left:190px;
  top:90px;
}
#u1214_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1180px;
  height:130px;
  background-image:none;
}
#u1214_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:130px;
}
#u1215 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:130px;
}
#u1216 {
  position:absolute;
  left:2px;
  top:57px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
  background:inherit;
  background-color:rgba(45, 158, 147, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1217 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
}
#u1218 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u1219 {
  position:absolute;
  left:55px;
  top:17px;
  width:71px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1220 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  visibility:hidden;
  white-space:nowrap;
}
#u1221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u1221 {
  position:absolute;
  left:20px;
  top:45px;
  width:1140px;
  height:1px;
}
#u1222 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1223 {
  position:absolute;
  left:1130px;
  top:20px;
  width:20px;
  height:20px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u1225 {
  position:absolute;
  left:30px;
  top:20px;
  width:16px;
  height:14px;
}
#u1226 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:19px;
}
#u1227 {
  position:absolute;
  left:56px;
  top:18px;
  width:573px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1228 {
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  word-wrap:break-word;
}
#u1229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1229 {
  position:absolute;
  left:30px;
  top:64px;
  width:140px;
  height:30px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u1231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1231 {
  position:absolute;
  left:192px;
  top:64px;
  width:140px;
  height:30px;
}
#u1232 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u1233_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1233 {
  position:absolute;
  left:322px;
  top:90px;
  width:30px;
  height:30px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1235 {
  position:absolute;
  left:152px;
  top:90px;
  width:30px;
  height:30px;
}
#u1236 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1237 {
  position:absolute;
  left:372px;
  top:64px;
  width:140px;
  height:30px;
}
#u1238 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u1239_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1239 {
  position:absolute;
  left:502px;
  top:90px;
  width:30px;
  height:30px;
}
#u1240 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1214_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1180px;
  height:60px;
  visibility:hidden;
  background-image:none;
}
#u1214_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:60px;
}
#u1241 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:60px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:22px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u1243 {
  position:absolute;
  left:20px;
  top:45px;
  width:1140px;
  height:1px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
  background:inherit;
  background-color:rgba(45, 158, 147, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1245 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1247 {
  position:absolute;
  left:1130px;
  top:20px;
  width:20px;
  height:20px;
}
#u1248 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
}
#u1249 {
  position:absolute;
  left:55px;
  top:17px;
  width:71px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1250 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u1251 {
  position:absolute;
  left:30px;
  top:20px;
  width:16px;
  height:14px;
}
#u1252 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
