body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1190px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31191 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:10px;
}
#u31192 {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:10px;
}
#u31193 {
  position:absolute;
  left:2px;
  top:-3px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:283px;
}
#u31194 {
  position:absolute;
  left:0px;
  top:7px;
  width:590px;
  height:283px;
}
#u31195 {
  position:absolute;
  left:2px;
  top:134px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:23px;
}
#u31196 {
  position:absolute;
  left:160px;
  top:12px;
  width:109px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u31197 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u31198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u31198 {
  position:absolute;
  left:315px;
  top:83px;
  width:50px;
  height:30px;
  font-size:12px;
}
#u31199 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u31200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:2px;
}
#u31200 {
  position:absolute;
  left:20px;
  top:41px;
  width:550px;
  height:1px;
}
#u31201 {
  position:absolute;
  left:2px;
  top:-8px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u31202 {
  position:absolute;
  left:32px;
  top:56px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u31203 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u31204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31204 {
  position:absolute;
  left:87px;
  top:51px;
  width:200px;
  height:26px;
}
#u31205 {
  position:absolute;
  left:2px;
  top:5px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u31206 {
  position:absolute;
  left:30px;
  top:88px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u31207 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u31208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:2px;
}
#u31208 {
  position:absolute;
  left:20px;
  top:132px;
  width:400px;
  height:1px;
}
#u31209 {
  position:absolute;
  left:2px;
  top:-8px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31210 {
  position:absolute;
  left:20px;
  top:143px;
  width:455px;
  height:65px;
}
#u31211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u31211 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u31212 {
  position:absolute;
  left:2px;
  top:8px;
  width:165px;
  word-wrap:break-word;
}
#u31213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u31213 {
  position:absolute;
  left:169px;
  top:0px;
  width:131px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u31214 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u31215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u31215 {
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u31216 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u31217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u31217 {
  position:absolute;
  left:0px;
  top:30px;
  width:169px;
  height:30px;
  font-size:12px;
}
#u31218 {
  position:absolute;
  left:2px;
  top:8px;
  width:165px;
  word-wrap:break-word;
}
#u31219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u31219 {
  position:absolute;
  left:169px;
  top:30px;
  width:131px;
  height:30px;
  font-size:12px;
}
#u31220 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u31221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u31221 {
  position:absolute;
  left:300px;
  top:30px;
  width:150px;
  height:30px;
  font-size:12px;
}
#u31222 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u31223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u31223 {
  position:absolute;
  left:237px;
  top:250px;
  width:50px;
  height:30px;
  font-size:12px;
}
#u31224 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u31225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31225 {
  position:absolute;
  left:310px;
  top:250px;
  width:60px;
  height:30px;
}
#u31226 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u31227 {
  position:absolute;
  left:30px;
  top:180px;
  width:100px;
  height:16px;
}
#u31228 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31227_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u31229_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u31229 {
  position:absolute;
  left:270px;
  top:260px;
  width:30px;
  height:30px;
}
#u31230 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u31231 {
  position:absolute;
  left:315px;
  top:52px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u31232 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u31233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u31233 {
  position:absolute;
  left:370px;
  top:47px;
  width:200px;
  height:26px;
  color:#666666;
  text-align:left;
}
#u31234 {
  position:absolute;
  left:2px;
  top:5px;
  width:196px;
  word-wrap:break-word;
}
#u31235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u31235 {
  position:absolute;
  left:87px;
  top:87px;
  width:200px;
  height:26px;
  color:#666666;
  text-align:left;
}
#u31236 {
  position:absolute;
  left:2px;
  top:5px;
  width:196px;
  word-wrap:break-word;
}
#u31237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:2px;
}
#u31238 {
  position:absolute;
  left:10px;
  top:318px;
  width:1180px;
  height:1px;
  color:#FF0000;
}
#u31239 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u31240 {
  position:absolute;
  left:47px;
  top:308px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u31241 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u31242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:210px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  color:#000000;
}
#u31242 {
  position:absolute;
  left:10px;
  top:340px;
  width:1180px;
  height:210px;
  font-size:20px;
  color:#000000;
}
#u31243 {
  position:absolute;
  left:10px;
  top:81px;
  width:1160px;
  word-wrap:break-word;
}
