body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4834 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:5px;
}
#u4835 {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:5px;
}
#u4836 {
  position:absolute;
  left:2px;
  top:-6px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:136px;
}
#u4837 {
  position:absolute;
  left:0px;
  top:4px;
  width:590px;
  height:136px;
}
#u4838 {
  position:absolute;
  left:2px;
  top:60px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:23px;
}
#u4839 {
  position:absolute;
  left:31px;
  top:12px;
  width:163px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4840 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u4841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:2px;
}
#u4841 {
  position:absolute;
  left:20px;
  top:41px;
  width:530px;
  height:1px;
}
#u4842 {
  position:absolute;
  left:2px;
  top:-8px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4843 {
  position:absolute;
  left:31px;
  top:60px;
  width:199px;
  height:30px;
  font-size:12px;
}
#u4844 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u4845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4845 {
  position:absolute;
  left:481px;
  top:60px;
  width:69px;
  height:30px;
}
#u4846 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u4847_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u4847 {
  position:absolute;
  left:530px;
  top:70px;
  width:30px;
  height:30px;
}
#u4848 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4849_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u4849 {
  position:absolute;
  left:210px;
  top:80px;
  width:30px;
  height:30px;
}
#u4850 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4851 {
  position:absolute;
  left:261px;
  top:60px;
  width:199px;
  height:30px;
  font-size:12px;
}
#u4852 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u4853_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u4853 {
  position:absolute;
  left:441px;
  top:80px;
  width:30px;
  height:30px;
}
#u4854 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
