body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u2802 {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:80px;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u2803 {
  position:absolute;
  left:2px;
  top:23px;
  width:1376px;
  word-wrap:break-word;
}
#u2804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:2000px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2804 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:2000px;
}
#u2805 {
  position:absolute;
  left:2px;
  top:992px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2806 {
  position:absolute;
  left:1150px;
  top:36px;
  width:210px;
  height:16px;
  color:#1E1E1E;
}
#u2807 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u2808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00A597;
}
#u2808 {
  position:absolute;
  left:217px;
  top:29px;
  width:243px;
  height:31px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00A597;
}
#u2809 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u2810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2000px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2810 {
  position:absolute;
  left:180px;
  top:80px;
  width:1200px;
  height:2000px;
}
#u2811 {
  position:absolute;
  left:2px;
  top:992px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2812 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2812_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2812.mouseOver {
}
#u2812_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2812.selected {
}
#u2813 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2814 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2814_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2814.mouseOver {
}
#u2814_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2814.selected {
}
#u2815 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:54px;
}
#u2816 {
  position:absolute;
  left:10px;
  top:10px;
  width:160px;
  height:54px;
}
#u2817 {
  position:absolute;
  left:2px;
  top:19px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2818 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2818_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2818.mouseOver {
}
#u2818_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2818.selected {
}
#u2819 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2820 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2820_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2820.mouseOver {
}
#u2820_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2820.selected {
}
#u2821 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2822 {
  position:absolute;
  left:0px;
  top:240px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2822_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2822.mouseOver {
}
#u2822_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2822.selected {
}
#u2823 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2824 {
  position:absolute;
  left:190px;
  top:120px;
}
#u2824_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1180px;
  height:130px;
  background-image:none;
}
#u2824_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:130px;
}
#u2825 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:130px;
}
#u2826 {
  position:absolute;
  left:2px;
  top:57px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
  background:inherit;
  background-color:rgba(45, 158, 147, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2827 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
}
#u2828 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u2829 {
  position:absolute;
  left:55px;
  top:17px;
  width:71px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2830 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u2831 {
  position:absolute;
  left:20px;
  top:45px;
  width:1140px;
  height:1px;
}
#u2832 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:20px;
}
#u2833 {
  position:absolute;
  left:40px;
  top:60px;
  width:289px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2834 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u2835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2835 {
  position:absolute;
  left:1130px;
  top:20px;
  width:20px;
  height:20px;
}
#u2836 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u2837 {
  position:absolute;
  left:30px;
  top:20px;
  width:16px;
  height:14px;
}
#u2838 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
}
#u2839 {
  position:absolute;
  left:40px;
  top:89px;
  width:211px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2840 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u2841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:20px;
}
#u2841 {
  position:absolute;
  left:600px;
  top:60px;
  width:263px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2842 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
#u2843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:20px;
}
#u2843 {
  position:absolute;
  left:600px;
  top:86px;
  width:295px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2844 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u2824_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1180px;
  height:60px;
  visibility:hidden;
  background-image:none;
}
#u2824_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:60px;
}
#u2845 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:60px;
}
#u2846 {
  position:absolute;
  left:2px;
  top:22px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u2847 {
  position:absolute;
  left:20px;
  top:45px;
  width:1140px;
  height:1px;
}
#u2848 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
  background:inherit;
  background-color:rgba(45, 158, 147, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2849 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
}
#u2850 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2851 {
  position:absolute;
  left:1130px;
  top:20px;
  width:20px;
  height:20px;
}
#u2852 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u2853 {
  position:absolute;
  left:55px;
  top:17px;
  width:71px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2854 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u2855 {
  position:absolute;
  left:30px;
  top:20px;
  width:16px;
  height:14px;
}
#u2856 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2857 {
  position:absolute;
  left:190px;
  top:260px;
}
#u2857_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1180px;
  height:210px;
  background-image:none;
}
#u2857_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:210px;
}
#u2858 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:210px;
}
#u2859 {
  position:absolute;
  left:2px;
  top:97px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
  background:inherit;
  background-color:rgba(45, 158, 147, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2860 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
}
#u2861 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u2862 {
  position:absolute;
  left:55px;
  top:17px;
  width:85px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2863 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u2864 {
  position:absolute;
  left:20px;
  top:45px;
  width:1140px;
  height:1px;
}
#u2865 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u2866 {
  position:absolute;
  left:30px;
  top:20px;
  width:16px;
  height:14px;
}
#u2867 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u2868 {
  position:absolute;
  left:35px;
  top:65px;
  width:67px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2869 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u2870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u2870 {
  position:absolute;
  left:35px;
  top:118px;
  width:91px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2871 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:19px;
}
#u2872 {
  position:absolute;
  left:464px;
  top:116px;
  width:106px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2873 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u2874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u2874 {
  position:absolute;
  left:861px;
  top:114px;
  width:85px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2875 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2876 {
  position:absolute;
  left:970px;
  top:110px;
  width:180px;
  height:22px;
}
#u2876_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2876_input:disabled {
  color:grayText;
}
#u2877 {
  position:absolute;
  left:590px;
  top:115px;
  width:210px;
  height:22px;
}
#u2877_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2877_input:disabled {
  color:grayText;
}
#u2878 {
  position:absolute;
  left:191px;
  top:115px;
  width:199px;
  height:22px;
}
#u2878_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2878_input:disabled {
  color:grayText;
}
#u2879 {
  position:absolute;
  left:190px;
  top:60px;
  width:610px;
  height:25px;
}
#u2879_input {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u2880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u2880 {
  position:absolute;
  left:35px;
  top:161px;
  width:85px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2881 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2882 {
  position:absolute;
  left:191px;
  top:158px;
  width:959px;
  height:25px;
}
#u2882_input {
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2883 {
  position:absolute;
  left:1130px;
  top:20px;
  width:20px;
  height:20px;
}
#u2884 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:19px;
}
#u2885 {
  position:absolute;
  left:850px;
  top:64px;
  width:96px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2886 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u2887 {
  position:absolute;
  left:970px;
  top:61px;
  width:180px;
  height:25px;
}
#u2887_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2888 {
  position:absolute;
  left:208px;
  top:89px;
  width:190px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2889 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u2890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2890 {
  position:absolute;
  left:190px;
  top:92px;
  width:10px;
  height:10px;
}
#u2891 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2857_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1180px;
  height:60px;
  visibility:hidden;
  background-image:none;
}
#u2857_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:60px;
}
#u2892 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:60px;
}
#u2893 {
  position:absolute;
  left:2px;
  top:22px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u2894 {
  position:absolute;
  left:20px;
  top:45px;
  width:1140px;
  height:1px;
}
#u2895 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
  background:inherit;
  background-color:rgba(45, 158, 147, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2896 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
}
#u2897 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2898 {
  position:absolute;
  left:1132px;
  top:20px;
  width:20px;
  height:20px;
}
#u2899 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u2900 {
  position:absolute;
  left:55px;
  top:17px;
  width:85px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2901 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u2902 {
  position:absolute;
  left:30px;
  top:20px;
  width:16px;
  height:14px;
}
#u2903 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
}
#u2904 {
  position:absolute;
  left:760px;
  top:92px;
  width:100px;
  height:18px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2905 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u2906 {
  position:fixed;
  left:650px;
  bottom:20px;
}
#u2906_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background-image:none;
}
#u2906_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2907 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u2908 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2909 {
  position:absolute;
  left:160px;
  top:0px;
  width:140px;
  height:40px;
}
#u2910 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2911_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2911 {
  position:absolute;
  left:120px;
  top:20px;
  width:30px;
  height:30px;
}
#u2912 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2913_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2913 {
  position:absolute;
  left:290px;
  top:20px;
  width:30px;
  height:30px;
}
#u2914 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:2px;
}
#u2915 {
  position:absolute;
  left:190px;
  top:550px;
  width:1180px;
  height:1px;
  color:#FF0000;
}
#u2916 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2917 {
  position:absolute;
  left:227px;
  top:540px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2918 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1143px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  color:#000000;
}
#u2919 {
  position:absolute;
  left:227px;
  top:580px;
  width:1143px;
  height:170px;
  font-size:20px;
  color:#000000;
}
#u2920 {
  position:absolute;
  left:10px;
  top:25px;
  width:1123px;
  word-wrap:break-word;
}
