body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u5875 {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:80px;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u5876 {
  position:absolute;
  left:2px;
  top:23px;
  width:1376px;
  word-wrap:break-word;
}
#u5877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:2000px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5877 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:2000px;
}
#u5878 {
  position:absolute;
  left:2px;
  top:992px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5879 {
  position:absolute;
  left:1150px;
  top:36px;
  width:210px;
  height:16px;
  color:#1E1E1E;
}
#u5880 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u5881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00A597;
}
#u5881 {
  position:absolute;
  left:217px;
  top:29px;
  width:243px;
  height:31px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00A597;
}
#u5882 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u5883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2000px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5883 {
  position:absolute;
  left:180px;
  top:80px;
  width:1200px;
  height:2000px;
}
#u5884 {
  position:absolute;
  left:2px;
  top:992px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5885 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5885_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5885.mouseOver {
}
#u5885_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5885.selected {
}
#u5886 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5887 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5887_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5887.mouseOver {
}
#u5887_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5887.selected {
}
#u5888 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:54px;
}
#u5889 {
  position:absolute;
  left:10px;
  top:10px;
  width:160px;
  height:54px;
}
#u5890 {
  position:absolute;
  left:2px;
  top:19px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5891 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5891_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5891.mouseOver {
}
#u5891_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5891.selected {
}
#u5892 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5893 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5893_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5893.mouseOver {
}
#u5893_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5893.selected {
}
#u5894 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5895 {
  position:absolute;
  left:0px;
  top:240px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5895_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5895.mouseOver {
}
#u5895_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5895.selected {
}
#u5896 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5897_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u5897 {
  position:absolute;
  left:120px;
  top:140px;
  width:30px;
  height:30px;
}
#u5898 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5899_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u5899 {
  position:absolute;
  left:120px;
  top:180px;
  width:30px;
  height:30px;
}
#u5900 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5901 {
  position:absolute;
  left:190px;
  top:273px;
}
#u5901_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1180px;
  height:320px;
  background-image:none;
}
#u5901_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:320px;
}
#u5902 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:320px;
}
#u5903 {
  position:absolute;
  left:2px;
  top:152px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
  background:inherit;
  background-color:rgba(45, 158, 147, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5904 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
}
#u5905 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u5906 {
  position:absolute;
  left:20px;
  top:45px;
  width:1140px;
  height:1px;
}
#u5907 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u5908 {
  position:absolute;
  left:30px;
  top:20px;
  width:16px;
  height:14px;
}
#u5909 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5910 {
  position:absolute;
  left:1130px;
  top:20px;
  width:20px;
  height:20px;
}
#u5911 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u5912 {
  position:absolute;
  left:55px;
  top:17px;
  width:85px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5913 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5914 {
  position:absolute;
  left:40px;
  top:70px;
  width:1065px;
  height:155px;
}
#u5915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:50px;
}
#u5915 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:50px;
  font-size:18px;
  color:#FFFFFF;
}
#u5916 {
  position:absolute;
  left:2px;
  top:14px;
  width:273px;
  word-wrap:break-word;
}
#u5917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:50px;
}
#u5917 {
  position:absolute;
  left:277px;
  top:0px;
  width:277px;
  height:50px;
  font-size:18px;
  color:#FFFFFF;
}
#u5918 {
  position:absolute;
  left:2px;
  top:14px;
  width:273px;
  word-wrap:break-word;
}
#u5919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:50px;
}
#u5919 {
  position:absolute;
  left:554px;
  top:0px;
  width:277px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5920 {
  position:absolute;
  left:2px;
  top:14px;
  width:273px;
  word-wrap:break-word;
}
#u5921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:50px;
}
#u5921 {
  position:absolute;
  left:831px;
  top:0px;
  width:229px;
  height:50px;
  font-size:18px;
  color:#FFFFFF;
}
#u5922 {
  position:absolute;
  left:2px;
  top:14px;
  width:225px;
  word-wrap:break-word;
}
#u5923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:50px;
}
#u5923 {
  position:absolute;
  left:0px;
  top:50px;
  width:277px;
  height:50px;
  font-size:18px;
  color:#000000;
}
#u5924 {
  position:absolute;
  left:2px;
  top:17px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:50px;
}
#u5925 {
  position:absolute;
  left:277px;
  top:50px;
  width:277px;
  height:50px;
  font-size:18px;
  color:#000000;
}
#u5926 {
  position:absolute;
  left:2px;
  top:17px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:50px;
}
#u5927 {
  position:absolute;
  left:554px;
  top:50px;
  width:277px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5928 {
  position:absolute;
  left:2px;
  top:14px;
  width:273px;
  word-wrap:break-word;
}
#u5929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:50px;
}
#u5929 {
  position:absolute;
  left:831px;
  top:50px;
  width:229px;
  height:50px;
  font-size:18px;
  color:#000000;
}
#u5930 {
  position:absolute;
  left:2px;
  top:14px;
  width:225px;
  word-wrap:break-word;
}
#u5931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:50px;
}
#u5931 {
  position:absolute;
  left:0px;
  top:100px;
  width:277px;
  height:50px;
  font-size:18px;
  color:#000000;
}
#u5932 {
  position:absolute;
  left:2px;
  top:17px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:50px;
}
#u5933 {
  position:absolute;
  left:277px;
  top:100px;
  width:277px;
  height:50px;
  font-size:18px;
  color:#000000;
}
#u5934 {
  position:absolute;
  left:2px;
  top:17px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:50px;
}
#u5935 {
  position:absolute;
  left:554px;
  top:100px;
  width:277px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5936 {
  position:absolute;
  left:2px;
  top:17px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:50px;
}
#u5937 {
  position:absolute;
  left:831px;
  top:100px;
  width:229px;
  height:50px;
  font-size:18px;
  color:#000000;
}
#u5938 {
  position:absolute;
  left:2px;
  top:14px;
  width:225px;
  word-wrap:break-word;
}
#u5939 {
  position:absolute;
  left:660px;
  top:180px;
  width:150px;
  height:22px;
}
#u5939_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
}
#u5939_input:disabled {
  color:grayText;
}
#u5940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5940 {
  position:absolute;
  left:760px;
  top:250px;
  width:140px;
  height:40px;
}
#u5941 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5942 {
  position:absolute;
  left:960px;
  top:250px;
  width:140px;
  height:40px;
}
#u5943 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5944_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u5944 {
  position:absolute;
  left:880px;
  top:270px;
  width:30px;
  height:30px;
}
#u5945 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5901_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1180px;
  height:60px;
  visibility:hidden;
  background-image:none;
}
#u5901_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:60px;
}
#u5946 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:60px;
}
#u5947 {
  position:absolute;
  left:2px;
  top:22px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u5948 {
  position:absolute;
  left:20px;
  top:45px;
  width:1140px;
  height:1px;
}
#u5949 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
  background:inherit;
  background-color:rgba(45, 158, 147, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5950 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
}
#u5951 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5952 {
  position:absolute;
  left:1132px;
  top:20px;
  width:20px;
  height:20px;
}
#u5953 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u5954 {
  position:absolute;
  left:55px;
  top:17px;
  width:85px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5955 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u5956 {
  position:absolute;
  left:30px;
  top:20px;
  width:16px;
  height:14px;
}
#u5957 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5958 {
  position:fixed;
  left:640px;
  bottom:20px;
}
#u5958_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background-image:none;
}
#u5958_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5959 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u5960 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5961 {
  position:absolute;
  left:160px;
  top:0px;
  width:140px;
  height:40px;
}
#u5962 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5963_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u5963 {
  position:absolute;
  left:120px;
  top:20px;
  width:30px;
  height:30px;
}
#u5964 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:143px;
}
#u5967 {
  position:absolute;
  left:190px;
  top:120px;
  width:1180px;
  height:143px;
}
#u5968 {
  position:absolute;
  left:2px;
  top:64px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
  background:inherit;
  background-color:rgba(45, 158, 147, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5969 {
  position:absolute;
  left:190px;
  top:120px;
  width:1180px;
  height:5px;
}
#u5970 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u5971 {
  position:absolute;
  left:245px;
  top:137px;
  width:57px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5972 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u5973 {
  position:absolute;
  left:216px;
  top:140px;
  width:16px;
  height:14px;
}
#u5974 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u5975 {
  position:absolute;
  left:210px;
  top:165px;
  width:1140px;
  height:1px;
}
#u5976 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:19px;
}
#u5977 {
  position:absolute;
  left:215px;
  top:182px;
  width:291px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5978 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  white-space:nowrap;
}
#u5979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:20px;
}
#u5979 {
  position:absolute;
  left:790px;
  top:182px;
  width:215px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5980 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u5981 {
  position:absolute;
  left:210px;
  top:220px;
  width:1145px;
  height:35px;
}
#u5982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u5982 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u5983 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u5984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u5984 {
  position:absolute;
  left:190px;
  top:0px;
  width:190px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u5985 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u5986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u5986 {
  position:absolute;
  left:380px;
  top:0px;
  width:190px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u5987 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u5988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u5988 {
  position:absolute;
  left:570px;
  top:0px;
  width:190px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u5989 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u5990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u5990 {
  position:absolute;
  left:760px;
  top:0px;
  width:190px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u5991 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u5992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u5992 {
  position:absolute;
  left:950px;
  top:0px;
  width:190px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u5993 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u5994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5994 {
  position:absolute;
  left:399px;
  top:220px;
  width:191px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5995 {
  position:absolute;
  left:2px;
  top:4px;
  width:187px;
  word-wrap:break-word;
}
