body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:10px;
}
#u2161 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:10px;
}
#u2162 {
  position:absolute;
  left:2px;
  top:-3px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:283px;
}
#u2163 {
  position:absolute;
  left:0px;
  top:7px;
  width:600px;
  height:283px;
}
#u2164 {
  position:absolute;
  left:2px;
  top:134px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u2165 {
  position:absolute;
  left:272px;
  top:12px;
  width:73px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2166 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2167 {
  position:absolute;
  left:330px;
  top:79px;
  width:50px;
  height:30px;
  font-size:12px;
}
#u2168 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u2169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:2px;
}
#u2169 {
  position:absolute;
  left:20px;
  top:41px;
  width:560px;
  height:1px;
}
#u2170 {
  position:absolute;
  left:2px;
  top:-8px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u2171 {
  position:absolute;
  left:32px;
  top:56px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2172 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2173 {
  position:absolute;
  left:87px;
  top:51px;
  width:200px;
  height:26px;
}
#u2174 {
  position:absolute;
  left:2px;
  top:5px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u2175 {
  position:absolute;
  left:30px;
  top:88px;
  width:37px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2176 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2177 {
  position:absolute;
  left:87px;
  top:87px;
  width:200px;
  height:22px;
}
#u2177_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2177_input:disabled {
  color:grayText;
}
#u2178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:2px;
}
#u2178 {
  position:absolute;
  left:20px;
  top:132px;
  width:560px;
  height:1px;
}
#u2179 {
  position:absolute;
  left:2px;
  top:-8px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u2180 {
  position:absolute;
  left:331px;
  top:53px;
  width:73px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2181 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2182 {
  position:absolute;
  left:414px;
  top:48px;
  width:163px;
  height:26px;
}
#u2183 {
  position:absolute;
  left:2px;
  top:5px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2184 {
  position:absolute;
  left:20px;
  top:143px;
  width:565px;
  height:65px;
}
#u2185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u2185 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u2186 {
  position:absolute;
  left:2px;
  top:8px;
  width:165px;
  word-wrap:break-word;
}
#u2187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2187 {
  position:absolute;
  left:169px;
  top:0px;
  width:120px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u2188 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u2189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u2189 {
  position:absolute;
  left:289px;
  top:0px;
  width:131px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u2190 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u2191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2191 {
  position:absolute;
  left:420px;
  top:0px;
  width:140px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u2192 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u2193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u2193 {
  position:absolute;
  left:0px;
  top:30px;
  width:169px;
  height:30px;
  font-size:12px;
}
#u2194 {
  position:absolute;
  left:2px;
  top:8px;
  width:165px;
  word-wrap:break-word;
}
#u2195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2195 {
  position:absolute;
  left:169px;
  top:30px;
  width:120px;
  height:30px;
  font-size:12px;
}
#u2196 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u2197 {
  position:absolute;
  left:289px;
  top:30px;
  width:131px;
  height:30px;
  font-size:12px;
}
#u2198 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u2199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2199 {
  position:absolute;
  left:420px;
  top:30px;
  width:140px;
  height:30px;
  font-size:12px;
}
#u2200 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u2201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2201 {
  position:absolute;
  left:237px;
  top:250px;
  width:50px;
  height:30px;
  font-size:12px;
}
#u2202 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u2203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2203 {
  position:absolute;
  left:310px;
  top:250px;
  width:60px;
  height:30px;
}
#u2204 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u2205 {
  position:absolute;
  left:30px;
  top:180px;
  width:100px;
  height:16px;
}
#u2206 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2207_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2207 {
  position:absolute;
  left:270px;
  top:260px;
  width:30px;
  height:30px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2209 {
  position:absolute;
  left:0px;
  top:290px;
  width:244px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2210 {
  position:absolute;
  left:10px;
  top:20px;
  width:224px;
  word-wrap:break-word;
}
