body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1616 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:9px;
}
#u1617 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:9px;
}
#u1618 {
  position:absolute;
  left:2px;
  top:-4px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:263px;
}
#u1619 {
  position:absolute;
  left:0px;
  top:7px;
  width:600px;
  height:263px;
}
#u1620 {
  position:absolute;
  left:2px;
  top:124px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:23px;
}
#u1621 {
  position:absolute;
  left:224px;
  top:11px;
  width:153px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1622 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u1623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:2px;
}
#u1623 {
  position:absolute;
  left:20px;
  top:41px;
  width:560px;
  height:1px;
}
#u1624 {
  position:absolute;
  left:2px;
  top:-8px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1625 {
  position:absolute;
  left:234px;
  top:220px;
  width:50px;
  height:30px;
  font-size:12px;
}
#u1626 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u1627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1627 {
  position:absolute;
  left:307px;
  top:220px;
  width:60px;
  height:30px;
}
#u1628 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u1629_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1629 {
  position:absolute;
  left:267px;
  top:230px;
  width:30px;
  height:30px;
}
#u1630 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u1631 {
  position:absolute;
  left:34px;
  top:88px;
  width:60px;
  height:16px;
}
#u1632 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u1633 {
  position:absolute;
  left:166px;
  top:86px;
  width:300px;
  height:22px;
}
#u1633_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
}
#u1633_input:disabled {
  color:grayText;
}
#u1634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u1634 {
  position:absolute;
  left:42px;
  top:128px;
  width:54px;
  height:16px;
}
#u1635 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u1636 {
  position:absolute;
  left:165px;
  top:128px;
  width:417px;
  height:56px;
}
#u1636_input {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:56px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u1637 {
  position:absolute;
  left:40px;
  top:52px;
  width:54px;
  height:16px;
}
#u1638 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u1639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1639 {
  position:absolute;
  left:166px;
  top:51px;
  width:126px;
  height:17px;
}
#u1640 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
