body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1393px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u21115 {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:80px;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u21116 {
  position:absolute;
  left:2px;
  top:23px;
  width:1376px;
  word-wrap:break-word;
}
#u21117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:2000px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21117 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:2000px;
}
#u21118 {
  position:absolute;
  left:2px;
  top:992px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u21119 {
  position:absolute;
  left:1150px;
  top:36px;
  width:210px;
  height:16px;
  color:#1E1E1E;
}
#u21120 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u21121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00A597;
}
#u21121 {
  position:absolute;
  left:217px;
  top:29px;
  width:243px;
  height:31px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00A597;
}
#u21122 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u21123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2000px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21123 {
  position:absolute;
  left:180px;
  top:80px;
  width:1200px;
  height:2000px;
}
#u21124 {
  position:absolute;
  left:2px;
  top:992px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21125 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21125_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21125.mouseOver {
}
#u21125_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21125.selected {
}
#u21126 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21127 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21127_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21127.mouseOver {
}
#u21127_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21127.selected {
}
#u21128 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:54px;
}
#u21129 {
  position:absolute;
  left:10px;
  top:10px;
  width:160px;
  height:54px;
}
#u21130 {
  position:absolute;
  left:2px;
  top:19px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21131 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21131_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21131.mouseOver {
}
#u21131_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21131.selected {
}
#u21132 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21133_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u21133 {
  position:absolute;
  left:120px;
  top:140px;
  width:30px;
  height:30px;
}
#u21134 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21135_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u21135 {
  position:absolute;
  left:120px;
  top:180px;
  width:30px;
  height:30px;
}
#u21136 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21137 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21137_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21137.mouseOver {
}
#u21137_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21137.selected {
}
#u21138 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u21139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u21139 {
  position:absolute;
  left:215px;
  top:105px;
  width:57px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u21140 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21141 {
  position:absolute;
  left:320px;
  top:102px;
  width:290px;
  height:25px;
}
#u21141_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u21142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u21142 {
  position:absolute;
  left:215px;
  top:167px;
  width:126px;
  height:16px;
}
#u21143 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u21144 {
  position:absolute;
  left:216px;
  top:193px;
  width:1123px;
  height:188px;
}
#u21145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:36px;
}
#u21145 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21146 {
  position:absolute;
  left:2px;
  top:10px;
  width:392px;
  word-wrap:break-word;
}
#u21147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:36px;
}
#u21147 {
  position:absolute;
  left:396px;
  top:0px;
  width:287px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21148 {
  position:absolute;
  left:2px;
  top:10px;
  width:283px;
  word-wrap:break-word;
}
#u21149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
}
#u21149 {
  position:absolute;
  left:683px;
  top:0px;
  width:280px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21150 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u21151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:36px;
}
#u21151 {
  position:absolute;
  left:963px;
  top:0px;
  width:155px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21152 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u21153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:31px;
}
#u21153 {
  position:absolute;
  left:0px;
  top:36px;
  width:396px;
  height:31px;
  color:#000000;
}
#u21154 {
  position:absolute;
  left:2px;
  top:8px;
  width:392px;
  word-wrap:break-word;
}
#u21155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:31px;
}
#u21155 {
  position:absolute;
  left:396px;
  top:36px;
  width:287px;
  height:31px;
}
#u21156 {
  position:absolute;
  left:2px;
  top:8px;
  width:283px;
  word-wrap:break-word;
}
#u21157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:31px;
}
#u21157 {
  position:absolute;
  left:683px;
  top:36px;
  width:280px;
  height:31px;
}
#u21158 {
  position:absolute;
  left:2px;
  top:8px;
  width:276px;
  word-wrap:break-word;
}
#u21159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
}
#u21159 {
  position:absolute;
  left:963px;
  top:36px;
  width:155px;
  height:31px;
}
#u21160 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u21161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:28px;
}
#u21161 {
  position:absolute;
  left:0px;
  top:67px;
  width:396px;
  height:28px;
  color:#000000;
}
#u21162 {
  position:absolute;
  left:2px;
  top:6px;
  width:392px;
  word-wrap:break-word;
}
#u21163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:28px;
}
#u21163 {
  position:absolute;
  left:396px;
  top:67px;
  width:287px;
  height:28px;
}
#u21164 {
  position:absolute;
  left:2px;
  top:6px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:28px;
}
#u21165 {
  position:absolute;
  left:683px;
  top:67px;
  width:280px;
  height:28px;
}
#u21166 {
  position:absolute;
  left:2px;
  top:6px;
  width:276px;
  word-wrap:break-word;
}
#u21167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:28px;
}
#u21167 {
  position:absolute;
  left:963px;
  top:67px;
  width:155px;
  height:28px;
}
#u21168 {
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  word-wrap:break-word;
}
#u21169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:36px;
}
#u21169 {
  position:absolute;
  left:0px;
  top:95px;
  width:396px;
  height:36px;
  color:#000000;
}
#u21170 {
  position:absolute;
  left:2px;
  top:10px;
  width:392px;
  word-wrap:break-word;
}
#u21171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:36px;
}
#u21171 {
  position:absolute;
  left:396px;
  top:95px;
  width:287px;
  height:36px;
}
#u21172 {
  position:absolute;
  left:2px;
  top:10px;
  width:283px;
  word-wrap:break-word;
}
#u21173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
}
#u21173 {
  position:absolute;
  left:683px;
  top:95px;
  width:280px;
  height:36px;
}
#u21174 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u21175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:36px;
}
#u21175 {
  position:absolute;
  left:963px;
  top:95px;
  width:155px;
  height:36px;
}
#u21176 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u21177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:32px;
}
#u21177 {
  position:absolute;
  left:0px;
  top:131px;
  width:396px;
  height:32px;
  color:#000000;
}
#u21178 {
  position:absolute;
  left:2px;
  top:8px;
  width:392px;
  word-wrap:break-word;
}
#u21179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:32px;
}
#u21179 {
  position:absolute;
  left:396px;
  top:131px;
  width:287px;
  height:32px;
}
#u21180 {
  position:absolute;
  left:2px;
  top:8px;
  width:283px;
  word-wrap:break-word;
}
#u21181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:32px;
}
#u21181 {
  position:absolute;
  left:683px;
  top:131px;
  width:280px;
  height:32px;
}
#u21182 {
  position:absolute;
  left:2px;
  top:8px;
  width:276px;
  word-wrap:break-word;
}
#u21183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
}
#u21183 {
  position:absolute;
  left:963px;
  top:131px;
  width:155px;
  height:32px;
}
#u21184 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u21185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:20px;
}
#u21185 {
  position:absolute;
  left:0px;
  top:163px;
  width:396px;
  height:20px;
  color:#000000;
}
#u21186 {
  position:absolute;
  left:2px;
  top:2px;
  width:392px;
  word-wrap:break-word;
}
#u21187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:20px;
}
#u21187 {
  position:absolute;
  left:396px;
  top:163px;
  width:287px;
  height:20px;
}
#u21188 {
  position:absolute;
  left:2px;
  top:2px;
  width:283px;
  word-wrap:break-word;
}
#u21189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
}
#u21189 {
  position:absolute;
  left:683px;
  top:163px;
  width:280px;
  height:20px;
}
#u21190 {
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  word-wrap:break-word;
}
#u21191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
}
#u21191 {
  position:absolute;
  left:963px;
  top:163px;
  width:155px;
  height:20px;
}
#u21192 {
  position:absolute;
  left:2px;
  top:2px;
  width:151px;
  word-wrap:break-word;
}
#u21193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1151px;
  height:2px;
}
#u21193 {
  position:absolute;
  left:200px;
  top:146px;
  width:1150px;
  height:1px;
}
#u21194 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21195 {
  position:absolute;
  left:1140px;
  top:95px;
  width:80px;
  height:40px;
}
#u21196 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u21197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21197 {
  position:absolute;
  left:1240px;
  top:95px;
  width:110px;
  height:40px;
}
#u21198 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u21199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u21199 {
  position:absolute;
  left:268px;
  top:418px;
  width:71px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21200 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  visibility:hidden;
  white-space:nowrap;
}
#u21201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  height:211px;
}
#u21201 {
  position:absolute;
  left:213px;
  top:414px;
  width:1145px;
  height:211px;
}
#u21202 {
  position:absolute;
  left:2px;
  top:98px;
  width:1141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:2px;
}
#u21203 {
  position:absolute;
  left:232px;
  top:451px;
  width:1106px;
  height:1px;
}
#u21204 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:19px;
}
#u21205 {
  position:absolute;
  left:267px;
  top:424px;
  width:556px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21206 {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  word-wrap:break-word;
}
#u21207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u21207 {
  position:absolute;
  left:235px;
  top:424px;
  width:19px;
  height:20px;
}
#u21208 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  height:5px;
  background:inherit;
  background-color:rgba(45, 158, 147, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21209 {
  position:absolute;
  left:213px;
  top:409px;
  width:1145px;
  height:5px;
}
#u21210 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u21211 {
  position:absolute;
  left:272px;
  top:467px;
  width:86px;
  height:16px;
  text-align:center;
}
#u21212 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u21213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u21213 {
  position:absolute;
  left:724px;
  top:467px;
  width:113px;
  height:16px;
  text-align:center;
}
#u21214 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u21215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u21215 {
  position:absolute;
  left:274px;
  top:505px;
  width:86px;
  height:16px;
  text-align:center;
}
#u21216 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u21217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:19px;
}
#u21217 {
  position:absolute;
  left:254px;
  top:549px;
  width:114px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u21218 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u21219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u21219 {
  position:absolute;
  left:311px;
  top:591px;
  width:60px;
  height:16px;
  text-align:center;
}
#u21220 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u21221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u21221 {
  position:absolute;
  left:381px;
  top:462px;
  width:273px;
  height:24px;
  text-align:left;
}
#u21222 {
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u21223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u21223 {
  position:absolute;
  left:854px;
  top:463px;
  width:273px;
  height:24px;
  text-align:left;
}
#u21224 {
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u21225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u21225 {
  position:absolute;
  left:381px;
  top:505px;
  width:273px;
  height:24px;
  text-align:left;
}
#u21226 {
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u21227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21227 {
  position:absolute;
  left:381px;
  top:549px;
  width:96px;
  height:20px;
}
#u21228 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u21229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u21229 {
  position:absolute;
  left:381px;
  top:587px;
  width:746px;
  height:24px;
  text-align:left;
}
#u21230 {
  position:absolute;
  left:2px;
  top:4px;
  width:742px;
  word-wrap:break-word;
}
#u21231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:2px;
}
#u21231 {
  position:absolute;
  left:213px;
  top:688px;
  width:1180px;
  height:1px;
  color:#FF0000;
}
#u21232 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u21233 {
  position:absolute;
  left:250px;
  top:678px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u21234 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1137px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  color:#000000;
}
#u21235 {
  position:absolute;
  left:213px;
  top:710px;
  width:1137px;
  height:170px;
  font-size:20px;
  color:#000000;
}
#u21236 {
  position:absolute;
  left:10px;
  top:73px;
  width:1117px;
  word-wrap:break-word;
}
#u21237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21237 {
  position:absolute;
  left:1240px;
  top:567px;
  width:80px;
  height:40px;
}
#u21238 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u21239_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u21239 {
  position:absolute;
  left:1308px;
  top:577px;
  width:30px;
  height:30px;
}
#u21240 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
