body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1393px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u23438 {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:80px;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u23439 {
  position:absolute;
  left:2px;
  top:23px;
  width:1376px;
  word-wrap:break-word;
}
#u23440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:2000px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23440 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:2000px;
}
#u23441 {
  position:absolute;
  left:2px;
  top:992px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u23442 {
  position:absolute;
  left:1150px;
  top:36px;
  width:210px;
  height:16px;
  color:#1E1E1E;
}
#u23443 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u23444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00A597;
}
#u23444 {
  position:absolute;
  left:217px;
  top:29px;
  width:243px;
  height:31px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00A597;
}
#u23445 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u23446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2000px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23446 {
  position:absolute;
  left:180px;
  top:80px;
  width:1200px;
  height:2000px;
}
#u23447 {
  position:absolute;
  left:2px;
  top:992px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23448 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23448_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23448.mouseOver {
}
#u23448_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23448.selected {
}
#u23449 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23450 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23450_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23450.mouseOver {
}
#u23450_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23450.selected {
}
#u23451 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:54px;
}
#u23452 {
  position:absolute;
  left:10px;
  top:10px;
  width:160px;
  height:54px;
}
#u23453 {
  position:absolute;
  left:2px;
  top:19px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23454 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23454_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23454.mouseOver {
}
#u23454_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23454.selected {
}
#u23455 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23456_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u23456 {
  position:absolute;
  left:120px;
  top:140px;
  width:30px;
  height:30px;
}
#u23457 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23458_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u23458 {
  position:absolute;
  left:120px;
  top:180px;
  width:30px;
  height:30px;
}
#u23459 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23460 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23460_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23460.mouseOver {
}
#u23460_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23460.selected {
}
#u23461 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u23462 {
  position:absolute;
  left:215px;
  top:105px;
  width:57px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u23463 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23464 {
  position:absolute;
  left:320px;
  top:102px;
  width:290px;
  height:25px;
}
#u23464_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u23465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u23465 {
  position:absolute;
  left:215px;
  top:167px;
  width:126px;
  height:16px;
}
#u23466 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u23467 {
  position:absolute;
  left:216px;
  top:193px;
  width:1123px;
  height:188px;
}
#u23468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:36px;
}
#u23468 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23469 {
  position:absolute;
  left:2px;
  top:10px;
  width:392px;
  word-wrap:break-word;
}
#u23470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:36px;
}
#u23470 {
  position:absolute;
  left:396px;
  top:0px;
  width:287px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23471 {
  position:absolute;
  left:2px;
  top:10px;
  width:283px;
  word-wrap:break-word;
}
#u23472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
}
#u23472 {
  position:absolute;
  left:683px;
  top:0px;
  width:280px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23473 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u23474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:36px;
}
#u23474 {
  position:absolute;
  left:963px;
  top:0px;
  width:155px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23475 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u23476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:31px;
}
#u23476 {
  position:absolute;
  left:0px;
  top:36px;
  width:396px;
  height:31px;
  color:#000000;
}
#u23477 {
  position:absolute;
  left:2px;
  top:8px;
  width:392px;
  word-wrap:break-word;
}
#u23478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:31px;
}
#u23478 {
  position:absolute;
  left:396px;
  top:36px;
  width:287px;
  height:31px;
}
#u23479 {
  position:absolute;
  left:2px;
  top:8px;
  width:283px;
  word-wrap:break-word;
}
#u23480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:31px;
}
#u23480 {
  position:absolute;
  left:683px;
  top:36px;
  width:280px;
  height:31px;
}
#u23481 {
  position:absolute;
  left:2px;
  top:8px;
  width:276px;
  word-wrap:break-word;
}
#u23482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
}
#u23482 {
  position:absolute;
  left:963px;
  top:36px;
  width:155px;
  height:31px;
}
#u23483 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u23484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:28px;
}
#u23484 {
  position:absolute;
  left:0px;
  top:67px;
  width:396px;
  height:28px;
  color:#000000;
}
#u23485 {
  position:absolute;
  left:2px;
  top:6px;
  width:392px;
  word-wrap:break-word;
}
#u23486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:28px;
}
#u23486 {
  position:absolute;
  left:396px;
  top:67px;
  width:287px;
  height:28px;
}
#u23487 {
  position:absolute;
  left:2px;
  top:6px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:28px;
}
#u23488 {
  position:absolute;
  left:683px;
  top:67px;
  width:280px;
  height:28px;
}
#u23489 {
  position:absolute;
  left:2px;
  top:6px;
  width:276px;
  word-wrap:break-word;
}
#u23490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:28px;
}
#u23490 {
  position:absolute;
  left:963px;
  top:67px;
  width:155px;
  height:28px;
}
#u23491 {
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  word-wrap:break-word;
}
#u23492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:36px;
}
#u23492 {
  position:absolute;
  left:0px;
  top:95px;
  width:396px;
  height:36px;
  color:#000000;
}
#u23493 {
  position:absolute;
  left:2px;
  top:10px;
  width:392px;
  word-wrap:break-word;
}
#u23494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:36px;
}
#u23494 {
  position:absolute;
  left:396px;
  top:95px;
  width:287px;
  height:36px;
}
#u23495 {
  position:absolute;
  left:2px;
  top:10px;
  width:283px;
  word-wrap:break-word;
}
#u23496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
}
#u23496 {
  position:absolute;
  left:683px;
  top:95px;
  width:280px;
  height:36px;
}
#u23497 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u23498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:36px;
}
#u23498 {
  position:absolute;
  left:963px;
  top:95px;
  width:155px;
  height:36px;
}
#u23499 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u23500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:32px;
}
#u23500 {
  position:absolute;
  left:0px;
  top:131px;
  width:396px;
  height:32px;
  color:#000000;
}
#u23501 {
  position:absolute;
  left:2px;
  top:8px;
  width:392px;
  word-wrap:break-word;
}
#u23502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:32px;
}
#u23502 {
  position:absolute;
  left:396px;
  top:131px;
  width:287px;
  height:32px;
}
#u23503 {
  position:absolute;
  left:2px;
  top:8px;
  width:283px;
  word-wrap:break-word;
}
#u23504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:32px;
}
#u23504 {
  position:absolute;
  left:683px;
  top:131px;
  width:280px;
  height:32px;
}
#u23505 {
  position:absolute;
  left:2px;
  top:8px;
  width:276px;
  word-wrap:break-word;
}
#u23506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
}
#u23506 {
  position:absolute;
  left:963px;
  top:131px;
  width:155px;
  height:32px;
}
#u23507 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u23508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:20px;
}
#u23508 {
  position:absolute;
  left:0px;
  top:163px;
  width:396px;
  height:20px;
  color:#000000;
}
#u23509 {
  position:absolute;
  left:2px;
  top:2px;
  width:392px;
  word-wrap:break-word;
}
#u23510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:20px;
}
#u23510 {
  position:absolute;
  left:396px;
  top:163px;
  width:287px;
  height:20px;
}
#u23511 {
  position:absolute;
  left:2px;
  top:2px;
  width:283px;
  word-wrap:break-word;
}
#u23512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
}
#u23512 {
  position:absolute;
  left:683px;
  top:163px;
  width:280px;
  height:20px;
}
#u23513 {
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  word-wrap:break-word;
}
#u23514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
}
#u23514 {
  position:absolute;
  left:963px;
  top:163px;
  width:155px;
  height:20px;
}
#u23515 {
  position:absolute;
  left:2px;
  top:2px;
  width:151px;
  word-wrap:break-word;
}
#u23516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1151px;
  height:2px;
}
#u23516 {
  position:absolute;
  left:200px;
  top:146px;
  width:1150px;
  height:1px;
}
#u23517 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23518 {
  position:absolute;
  left:1140px;
  top:95px;
  width:80px;
  height:40px;
}
#u23519 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u23520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23520 {
  position:absolute;
  left:1240px;
  top:95px;
  width:110px;
  height:40px;
}
#u23521 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u23522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u23522 {
  position:absolute;
  left:268px;
  top:418px;
  width:71px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23523 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  visibility:hidden;
  white-space:nowrap;
}
#u23524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  height:211px;
}
#u23524 {
  position:absolute;
  left:213px;
  top:414px;
  width:1145px;
  height:211px;
}
#u23525 {
  position:absolute;
  left:2px;
  top:98px;
  width:1141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:2px;
}
#u23526 {
  position:absolute;
  left:232px;
  top:451px;
  width:1106px;
  height:1px;
}
#u23527 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:19px;
}
#u23528 {
  position:absolute;
  left:267px;
  top:424px;
  width:556px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23529 {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  word-wrap:break-word;
}
#u23530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u23530 {
  position:absolute;
  left:235px;
  top:424px;
  width:19px;
  height:20px;
}
#u23531 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  height:5px;
  background:inherit;
  background-color:rgba(45, 158, 147, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23532 {
  position:absolute;
  left:213px;
  top:409px;
  width:1145px;
  height:5px;
}
#u23533 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u23534 {
  position:absolute;
  left:272px;
  top:467px;
  width:86px;
  height:16px;
  text-align:center;
}
#u23535 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u23536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u23536 {
  position:absolute;
  left:724px;
  top:467px;
  width:113px;
  height:16px;
  text-align:center;
}
#u23537 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u23538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u23538 {
  position:absolute;
  left:274px;
  top:505px;
  width:86px;
  height:16px;
  text-align:center;
}
#u23539 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u23540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:19px;
}
#u23540 {
  position:absolute;
  left:254px;
  top:549px;
  width:114px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u23541 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u23542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u23542 {
  position:absolute;
  left:311px;
  top:591px;
  width:60px;
  height:16px;
  text-align:center;
}
#u23543 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u23544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u23544 {
  position:absolute;
  left:381px;
  top:462px;
  width:273px;
  height:24px;
  text-align:left;
}
#u23545 {
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u23546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u23546 {
  position:absolute;
  left:854px;
  top:463px;
  width:273px;
  height:24px;
  text-align:left;
}
#u23547 {
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u23548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u23548 {
  position:absolute;
  left:381px;
  top:505px;
  width:273px;
  height:24px;
  text-align:left;
}
#u23549 {
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u23550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23550 {
  position:absolute;
  left:381px;
  top:549px;
  width:96px;
  height:20px;
}
#u23551 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u23552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u23552 {
  position:absolute;
  left:381px;
  top:587px;
  width:746px;
  height:24px;
  text-align:left;
}
#u23553 {
  position:absolute;
  left:2px;
  top:4px;
  width:742px;
  word-wrap:break-word;
}
#u23554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:2px;
}
#u23554 {
  position:absolute;
  left:213px;
  top:688px;
  width:1180px;
  height:1px;
  color:#FF0000;
}
#u23555 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u23556 {
  position:absolute;
  left:250px;
  top:678px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u23557 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1137px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  color:#000000;
}
#u23558 {
  position:absolute;
  left:213px;
  top:710px;
  width:1137px;
  height:170px;
  font-size:20px;
  color:#000000;
}
#u23559 {
  position:absolute;
  left:10px;
  top:73px;
  width:1117px;
  word-wrap:break-word;
}
#u23560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23560 {
  position:absolute;
  left:1240px;
  top:567px;
  width:80px;
  height:40px;
}
#u23561 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u23562_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u23562 {
  position:absolute;
  left:1308px;
  top:577px;
  width:30px;
  height:30px;
}
#u23563 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23564 {
  position:absolute;
  left:514px;
  top:549px;
  width:140px;
  height:20px;
}
#u23565 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
