body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1393px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u24265 {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:80px;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u24266 {
  position:absolute;
  left:2px;
  top:23px;
  width:1376px;
  word-wrap:break-word;
}
#u24267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:2000px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24267 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:2000px;
}
#u24268 {
  position:absolute;
  left:2px;
  top:992px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u24269 {
  position:absolute;
  left:1150px;
  top:36px;
  width:210px;
  height:16px;
  color:#1E1E1E;
}
#u24270 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u24271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00A597;
}
#u24271 {
  position:absolute;
  left:217px;
  top:29px;
  width:243px;
  height:31px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00A597;
}
#u24272 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u24273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2000px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24273 {
  position:absolute;
  left:180px;
  top:80px;
  width:1200px;
  height:2000px;
}
#u24274 {
  position:absolute;
  left:2px;
  top:992px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24275 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24275_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24275.mouseOver {
}
#u24275_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24275.selected {
}
#u24276 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u24277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24277 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24277_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24277.mouseOver {
}
#u24277_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24277.selected {
}
#u24278 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u24279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:54px;
}
#u24279 {
  position:absolute;
  left:10px;
  top:10px;
  width:160px;
  height:54px;
}
#u24280 {
  position:absolute;
  left:2px;
  top:19px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24281 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24281_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24281.mouseOver {
}
#u24281_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24281.selected {
}
#u24282 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u24283_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u24283 {
  position:absolute;
  left:120px;
  top:140px;
  width:30px;
  height:30px;
}
#u24284 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24285_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u24285 {
  position:absolute;
  left:120px;
  top:180px;
  width:30px;
  height:30px;
}
#u24286 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24287 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24287_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24287.mouseOver {
}
#u24287_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24287.selected {
}
#u24288 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u24289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u24289 {
  position:absolute;
  left:215px;
  top:105px;
  width:57px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u24290 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24291 {
  position:absolute;
  left:320px;
  top:102px;
  width:290px;
  height:25px;
}
#u24291_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u24292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u24292 {
  position:absolute;
  left:215px;
  top:167px;
  width:126px;
  height:16px;
}
#u24293 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u24294 {
  position:absolute;
  left:216px;
  top:193px;
  width:1123px;
  height:188px;
}
#u24295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:36px;
}
#u24295 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24296 {
  position:absolute;
  left:2px;
  top:10px;
  width:392px;
  word-wrap:break-word;
}
#u24297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:36px;
}
#u24297 {
  position:absolute;
  left:396px;
  top:0px;
  width:287px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24298 {
  position:absolute;
  left:2px;
  top:10px;
  width:283px;
  word-wrap:break-word;
}
#u24299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
}
#u24299 {
  position:absolute;
  left:683px;
  top:0px;
  width:280px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24300 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u24301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:36px;
}
#u24301 {
  position:absolute;
  left:963px;
  top:0px;
  width:155px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24302 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u24303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:31px;
}
#u24303 {
  position:absolute;
  left:0px;
  top:36px;
  width:396px;
  height:31px;
  color:#000000;
}
#u24304 {
  position:absolute;
  left:2px;
  top:8px;
  width:392px;
  word-wrap:break-word;
}
#u24305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:31px;
}
#u24305 {
  position:absolute;
  left:396px;
  top:36px;
  width:287px;
  height:31px;
}
#u24306 {
  position:absolute;
  left:2px;
  top:8px;
  width:283px;
  word-wrap:break-word;
}
#u24307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:31px;
}
#u24307 {
  position:absolute;
  left:683px;
  top:36px;
  width:280px;
  height:31px;
}
#u24308 {
  position:absolute;
  left:2px;
  top:8px;
  width:276px;
  word-wrap:break-word;
}
#u24309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
}
#u24309 {
  position:absolute;
  left:963px;
  top:36px;
  width:155px;
  height:31px;
}
#u24310 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u24311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:28px;
}
#u24311 {
  position:absolute;
  left:0px;
  top:67px;
  width:396px;
  height:28px;
  color:#000000;
}
#u24312 {
  position:absolute;
  left:2px;
  top:6px;
  width:392px;
  word-wrap:break-word;
}
#u24313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:28px;
}
#u24313 {
  position:absolute;
  left:396px;
  top:67px;
  width:287px;
  height:28px;
}
#u24314 {
  position:absolute;
  left:2px;
  top:6px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:28px;
}
#u24315 {
  position:absolute;
  left:683px;
  top:67px;
  width:280px;
  height:28px;
}
#u24316 {
  position:absolute;
  left:2px;
  top:6px;
  width:276px;
  word-wrap:break-word;
}
#u24317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:28px;
}
#u24317 {
  position:absolute;
  left:963px;
  top:67px;
  width:155px;
  height:28px;
}
#u24318 {
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  word-wrap:break-word;
}
#u24319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:36px;
}
#u24319 {
  position:absolute;
  left:0px;
  top:95px;
  width:396px;
  height:36px;
  color:#000000;
}
#u24320 {
  position:absolute;
  left:2px;
  top:10px;
  width:392px;
  word-wrap:break-word;
}
#u24321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:36px;
}
#u24321 {
  position:absolute;
  left:396px;
  top:95px;
  width:287px;
  height:36px;
}
#u24322 {
  position:absolute;
  left:2px;
  top:10px;
  width:283px;
  word-wrap:break-word;
}
#u24323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
}
#u24323 {
  position:absolute;
  left:683px;
  top:95px;
  width:280px;
  height:36px;
}
#u24324 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u24325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:36px;
}
#u24325 {
  position:absolute;
  left:963px;
  top:95px;
  width:155px;
  height:36px;
}
#u24326 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u24327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:32px;
}
#u24327 {
  position:absolute;
  left:0px;
  top:131px;
  width:396px;
  height:32px;
  color:#000000;
}
#u24328 {
  position:absolute;
  left:2px;
  top:8px;
  width:392px;
  word-wrap:break-word;
}
#u24329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:32px;
}
#u24329 {
  position:absolute;
  left:396px;
  top:131px;
  width:287px;
  height:32px;
}
#u24330 {
  position:absolute;
  left:2px;
  top:8px;
  width:283px;
  word-wrap:break-word;
}
#u24331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:32px;
}
#u24331 {
  position:absolute;
  left:683px;
  top:131px;
  width:280px;
  height:32px;
}
#u24332 {
  position:absolute;
  left:2px;
  top:8px;
  width:276px;
  word-wrap:break-word;
}
#u24333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
}
#u24333 {
  position:absolute;
  left:963px;
  top:131px;
  width:155px;
  height:32px;
}
#u24334 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u24335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:20px;
}
#u24335 {
  position:absolute;
  left:0px;
  top:163px;
  width:396px;
  height:20px;
  color:#000000;
}
#u24336 {
  position:absolute;
  left:2px;
  top:2px;
  width:392px;
  word-wrap:break-word;
}
#u24337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:20px;
}
#u24337 {
  position:absolute;
  left:396px;
  top:163px;
  width:287px;
  height:20px;
}
#u24338 {
  position:absolute;
  left:2px;
  top:2px;
  width:283px;
  word-wrap:break-word;
}
#u24339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
}
#u24339 {
  position:absolute;
  left:683px;
  top:163px;
  width:280px;
  height:20px;
}
#u24340 {
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  word-wrap:break-word;
}
#u24341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
}
#u24341 {
  position:absolute;
  left:963px;
  top:163px;
  width:155px;
  height:20px;
}
#u24342 {
  position:absolute;
  left:2px;
  top:2px;
  width:151px;
  word-wrap:break-word;
}
#u24343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1151px;
  height:2px;
}
#u24343 {
  position:absolute;
  left:200px;
  top:146px;
  width:1150px;
  height:1px;
}
#u24344 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24345 {
  position:absolute;
  left:1140px;
  top:95px;
  width:80px;
  height:40px;
}
#u24346 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u24347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24347 {
  position:absolute;
  left:1240px;
  top:95px;
  width:110px;
  height:40px;
}
#u24348 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u24349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u24349 {
  position:absolute;
  left:268px;
  top:418px;
  width:71px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u24350 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  visibility:hidden;
  white-space:nowrap;
}
#u24351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  height:211px;
}
#u24351 {
  position:absolute;
  left:213px;
  top:414px;
  width:1145px;
  height:211px;
}
#u24352 {
  position:absolute;
  left:2px;
  top:98px;
  width:1141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:2px;
}
#u24353 {
  position:absolute;
  left:232px;
  top:451px;
  width:1106px;
  height:1px;
}
#u24354 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:19px;
}
#u24355 {
  position:absolute;
  left:267px;
  top:424px;
  width:556px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u24356 {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  word-wrap:break-word;
}
#u24357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u24357 {
  position:absolute;
  left:235px;
  top:424px;
  width:19px;
  height:20px;
}
#u24358 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  height:5px;
  background:inherit;
  background-color:rgba(45, 158, 147, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24359 {
  position:absolute;
  left:213px;
  top:409px;
  width:1145px;
  height:5px;
}
#u24360 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u24361 {
  position:absolute;
  left:272px;
  top:467px;
  width:86px;
  height:16px;
  text-align:center;
}
#u24362 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u24363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u24363 {
  position:absolute;
  left:724px;
  top:467px;
  width:113px;
  height:16px;
  text-align:center;
}
#u24364 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u24365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u24365 {
  position:absolute;
  left:274px;
  top:505px;
  width:86px;
  height:16px;
  text-align:center;
}
#u24366 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u24367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:19px;
}
#u24367 {
  position:absolute;
  left:254px;
  top:549px;
  width:114px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u24368 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u24369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u24369 {
  position:absolute;
  left:311px;
  top:591px;
  width:60px;
  height:16px;
  text-align:center;
}
#u24370 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u24371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u24371 {
  position:absolute;
  left:381px;
  top:462px;
  width:273px;
  height:24px;
  text-align:left;
}
#u24372 {
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u24373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u24373 {
  position:absolute;
  left:854px;
  top:463px;
  width:273px;
  height:24px;
  text-align:left;
}
#u24374 {
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u24375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u24375 {
  position:absolute;
  left:381px;
  top:505px;
  width:273px;
  height:24px;
  text-align:left;
}
#u24376 {
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u24377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24377 {
  position:absolute;
  left:381px;
  top:549px;
  width:96px;
  height:20px;
}
#u24378 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u24379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u24379 {
  position:absolute;
  left:381px;
  top:587px;
  width:746px;
  height:24px;
  text-align:left;
}
#u24380 {
  position:absolute;
  left:2px;
  top:4px;
  width:742px;
  word-wrap:break-word;
}
#u24381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:2px;
}
#u24381 {
  position:absolute;
  left:213px;
  top:688px;
  width:1180px;
  height:1px;
  color:#FF0000;
}
#u24382 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u24383 {
  position:absolute;
  left:250px;
  top:678px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u24384 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u24385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1137px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  color:#000000;
}
#u24385 {
  position:absolute;
  left:213px;
  top:710px;
  width:1137px;
  height:170px;
  font-size:20px;
  color:#000000;
}
#u24386 {
  position:absolute;
  left:10px;
  top:73px;
  width:1117px;
  word-wrap:break-word;
}
#u24387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24387 {
  position:absolute;
  left:1240px;
  top:567px;
  width:80px;
  height:40px;
}
#u24388 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u24389_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u24389 {
  position:absolute;
  left:1308px;
  top:577px;
  width:30px;
  height:30px;
}
#u24390 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24391 {
  position:absolute;
  left:514px;
  top:549px;
  width:140px;
  height:20px;
}
#u24392 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
