body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6397 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:9px;
}
#u6398 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:9px;
}
#u6399 {
  position:absolute;
  left:2px;
  top:-4px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:263px;
}
#u6400 {
  position:absolute;
  left:0px;
  top:7px;
  width:600px;
  height:263px;
}
#u6401 {
  position:absolute;
  left:2px;
  top:124px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:23px;
}
#u6402 {
  position:absolute;
  left:228px;
  top:10px;
  width:109px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6403 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u6404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:2px;
}
#u6404 {
  position:absolute;
  left:20px;
  top:41px;
  width:560px;
  height:1px;
}
#u6405 {
  position:absolute;
  left:2px;
  top:-8px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:16px;
}
#u6406 {
  position:absolute;
  left:32px;
  top:50px;
  width:528px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6407 {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  word-wrap:break-word;
}
#u6408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:2px;
}
#u6408 {
  position:absolute;
  left:27px;
  top:89px;
  width:560px;
  height:1px;
}
#u6409 {
  position:absolute;
  left:2px;
  top:-8px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6410 {
  position:absolute;
  left:234px;
  top:220px;
  width:50px;
  height:30px;
  font-size:12px;
}
#u6411 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u6412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6412 {
  position:absolute;
  left:307px;
  top:220px;
  width:60px;
  height:30px;
}
#u6413 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u6414_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u6414 {
  position:absolute;
  left:267px;
  top:230px;
  width:30px;
  height:30px;
}
#u6415 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u6416 {
  position:absolute;
  left:32px;
  top:114px;
  width:86px;
  height:16px;
}
#u6417 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u6418 {
  position:absolute;
  left:164px;
  top:112px;
  width:300px;
  height:22px;
}
#u6418_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
}
#u6418_input:disabled {
  color:grayText;
}
#u6419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u6419 {
  position:absolute;
  left:32px;
  top:154px;
  width:81px;
  height:16px;
}
#u6420 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6421 {
  position:absolute;
  left:163px;
  top:154px;
  width:417px;
  height:56px;
}
#u6421_input {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:56px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
