body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:9px;
}
#u1191 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:9px;
}
#u1192 {
  position:absolute;
  left:2px;
  top:-4px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:263px;
}
#u1193 {
  position:absolute;
  left:0px;
  top:7px;
  width:600px;
  height:263px;
}
#u1194 {
  position:absolute;
  left:2px;
  top:124px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:23px;
}
#u1195 {
  position:absolute;
  left:224px;
  top:11px;
  width:153px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1196 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u1197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:2px;
}
#u1197 {
  position:absolute;
  left:20px;
  top:41px;
  width:560px;
  height:1px;
}
#u1198 {
  position:absolute;
  left:2px;
  top:-8px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1199 {
  position:absolute;
  left:234px;
  top:220px;
  width:50px;
  height:30px;
  font-size:12px;
}
#u1200 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u1201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1201 {
  position:absolute;
  left:307px;
  top:220px;
  width:60px;
  height:30px;
}
#u1202 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u1203_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1203 {
  position:absolute;
  left:267px;
  top:230px;
  width:30px;
  height:30px;
}
#u1204 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u1205 {
  position:absolute;
  left:34px;
  top:88px;
  width:60px;
  height:16px;
}
#u1206 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u1207 {
  position:absolute;
  left:166px;
  top:86px;
  width:300px;
  height:22px;
}
#u1207_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
}
#u1207_input:disabled {
  color:grayText;
}
#u1208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u1208 {
  position:absolute;
  left:42px;
  top:128px;
  width:54px;
  height:16px;
}
#u1209 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u1210 {
  position:absolute;
  left:165px;
  top:128px;
  width:417px;
  height:56px;
}
#u1210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:56px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u1211 {
  position:absolute;
  left:40px;
  top:52px;
  width:54px;
  height:16px;
}
#u1212 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u1213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1213 {
  position:absolute;
  left:166px;
  top:51px;
  width:126px;
  height:17px;
}
#u1214 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
