body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18617 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:10px;
}
#u18618 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:10px;
}
#u18619 {
  position:absolute;
  left:2px;
  top:-3px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:282px;
}
#u18620 {
  position:absolute;
  left:0px;
  top:8px;
  width:600px;
  height:282px;
}
#u18621 {
  position:absolute;
  left:2px;
  top:133px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:23px;
}
#u18622 {
  position:absolute;
  left:272px;
  top:12px;
  width:109px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u18623 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u18624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18624 {
  position:absolute;
  left:320px;
  top:94px;
  width:50px;
  height:30px;
  font-size:12px;
}
#u18625 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u18626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:2px;
}
#u18626 {
  position:absolute;
  left:20px;
  top:41px;
  width:560px;
  height:1px;
}
#u18627 {
  position:absolute;
  left:2px;
  top:-8px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u18628 {
  position:absolute;
  left:32px;
  top:56px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18629 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u18630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u18630 {
  position:absolute;
  left:90px;
  top:96px;
  width:200px;
  height:26px;
  color:#999999;
  text-align:left;
}
#u18631 {
  position:absolute;
  left:2px;
  top:5px;
  width:196px;
  word-wrap:break-word;
}
#u18632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:2px;
}
#u18632 {
  position:absolute;
  left:20px;
  top:145px;
  width:560px;
  height:1px;
}
#u18633 {
  position:absolute;
  left:2px;
  top:-8px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18634 {
  position:absolute;
  left:20px;
  top:161px;
  width:512px;
  height:65px;
}
#u18635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u18635 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u18636 {
  position:absolute;
  left:2px;
  top:8px;
  width:165px;
  word-wrap:break-word;
}
#u18637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u18637 {
  position:absolute;
  left:169px;
  top:0px;
  width:169px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u18638 {
  position:absolute;
  left:2px;
  top:8px;
  width:165px;
  word-wrap:break-word;
}
#u18639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u18639 {
  position:absolute;
  left:338px;
  top:0px;
  width:169px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u18640 {
  position:absolute;
  left:2px;
  top:8px;
  width:165px;
  word-wrap:break-word;
}
#u18641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u18641 {
  position:absolute;
  left:0px;
  top:30px;
  width:169px;
  height:30px;
  font-size:12px;
}
#u18642 {
  position:absolute;
  left:2px;
  top:8px;
  width:165px;
  word-wrap:break-word;
}
#u18643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u18643 {
  position:absolute;
  left:169px;
  top:30px;
  width:169px;
  height:30px;
  font-size:12px;
}
#u18644 {
  position:absolute;
  left:2px;
  top:7px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u18645 {
  position:absolute;
  left:338px;
  top:30px;
  width:169px;
  height:30px;
  font-size:12px;
}
#u18646 {
  position:absolute;
  left:2px;
  top:7px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18647 {
  position:absolute;
  left:237px;
  top:250px;
  width:50px;
  height:30px;
  font-size:12px;
}
#u18648 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u18649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18649 {
  position:absolute;
  left:310px;
  top:250px;
  width:60px;
  height:30px;
}
#u18650 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u18651 {
  position:absolute;
  left:32px;
  top:194px;
  width:100px;
  height:16px;
}
#u18652 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18651_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u18653 {
  position:absolute;
  left:32px;
  top:101px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18654 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18655 {
  position:absolute;
  left:91px;
  top:56px;
  width:200px;
  height:22px;
}
#u18655_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18655_input:disabled {
  color:grayText;
}
#u18656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u18656 {
  position:absolute;
  left:379px;
  top:58px;
  width:196px;
  height:26px;
  color:#999999;
  text-align:left;
}
#u18657 {
  position:absolute;
  left:2px;
  top:5px;
  width:192px;
  word-wrap:break-word;
}
#u18658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u18658 {
  position:absolute;
  left:320px;
  top:63px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18659 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
