body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1393px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u23861 {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:80px;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u23862 {
  position:absolute;
  left:2px;
  top:23px;
  width:1376px;
  word-wrap:break-word;
}
#u23863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:2000px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23863 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:2000px;
}
#u23864 {
  position:absolute;
  left:2px;
  top:992px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u23865 {
  position:absolute;
  left:1150px;
  top:36px;
  width:210px;
  height:16px;
  color:#1E1E1E;
}
#u23866 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u23867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00A597;
}
#u23867 {
  position:absolute;
  left:217px;
  top:29px;
  width:243px;
  height:31px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00A597;
}
#u23868 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u23869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2000px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23869 {
  position:absolute;
  left:180px;
  top:80px;
  width:1200px;
  height:2000px;
}
#u23870 {
  position:absolute;
  left:2px;
  top:992px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23871 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23871_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23871.mouseOver {
}
#u23871_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23871.selected {
}
#u23872 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23873 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23873_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23873.mouseOver {
}
#u23873_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23873.selected {
}
#u23874 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:54px;
}
#u23875 {
  position:absolute;
  left:10px;
  top:10px;
  width:160px;
  height:54px;
}
#u23876 {
  position:absolute;
  left:2px;
  top:19px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23877 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23877_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23877.mouseOver {
}
#u23877_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23877.selected {
}
#u23878 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23879 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23879_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23879.mouseOver {
}
#u23879_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23879.selected {
}
#u23880 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23881 {
  position:absolute;
  left:0px;
  top:240px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23881_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23881.mouseOver {
}
#u23881_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23881.selected {
}
#u23882 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23883_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u23883 {
  position:absolute;
  left:120px;
  top:140px;
  width:30px;
  height:30px;
}
#u23884 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23885_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u23885 {
  position:absolute;
  left:120px;
  top:180px;
  width:30px;
  height:30px;
}
#u23886 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23887 {
  position:absolute;
  left:0px;
  top:280px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23887_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23887.mouseOver {
}
#u23887_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23887.selected {
}
#u23888 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23889 {
  position:absolute;
  left:0px;
  top:320px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23889_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23889.mouseOver {
}
#u23889_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23889.selected {
}
#u23890 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23891_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u23891 {
  position:absolute;
  left:120px;
  top:219px;
  width:30px;
  height:30px;
}
#u23892 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23893 {
  position:absolute;
  left:0px;
  top:360px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23893_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23893.mouseOver {
}
#u23893_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23893.selected {
}
#u23894 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23895 {
  position:absolute;
  left:0px;
  top:400px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23895_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23895.mouseOver {
}
#u23895_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23895.selected {
}
#u23896 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u23897 {
  position:absolute;
  left:215px;
  top:105px;
  width:57px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u23898 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23899 {
  position:absolute;
  left:320px;
  top:102px;
  width:290px;
  height:25px;
}
#u23899_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u23900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u23900 {
  position:absolute;
  left:215px;
  top:167px;
  width:126px;
  height:16px;
}
#u23901 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u23902 {
  position:absolute;
  left:215px;
  top:204px;
  width:1140px;
  height:200px;
}
#u23903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:36px;
}
#u23903 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23904 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u23905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:36px;
}
#u23905 {
  position:absolute;
  left:165px;
  top:0px;
  width:457px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23906 {
  position:absolute;
  left:2px;
  top:10px;
  width:453px;
  word-wrap:break-word;
}
#u23907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:36px;
}
#u23907 {
  position:absolute;
  left:622px;
  top:0px;
  width:332px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23908 {
  position:absolute;
  left:2px;
  top:10px;
  width:328px;
  word-wrap:break-word;
}
#u23909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u23909 {
  position:absolute;
  left:954px;
  top:0px;
  width:181px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23910 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u23911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:31px;
}
#u23911 {
  position:absolute;
  left:0px;
  top:36px;
  width:165px;
  height:31px;
}
#u23912 {
  position:absolute;
  left:2px;
  top:8px;
  width:161px;
  word-wrap:break-word;
}
#u23913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:31px;
}
#u23913 {
  position:absolute;
  left:165px;
  top:36px;
  width:457px;
  height:31px;
  color:#000000;
}
#u23914 {
  position:absolute;
  left:2px;
  top:8px;
  width:453px;
  word-wrap:break-word;
}
#u23915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
}
#u23915 {
  position:absolute;
  left:622px;
  top:36px;
  width:332px;
  height:31px;
}
#u23916 {
  position:absolute;
  left:2px;
  top:8px;
  width:328px;
  word-wrap:break-word;
}
#u23917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:31px;
}
#u23917 {
  position:absolute;
  left:954px;
  top:36px;
  width:181px;
  height:31px;
}
#u23918 {
  position:absolute;
  left:2px;
  top:8px;
  width:177px;
  word-wrap:break-word;
}
#u23919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u23919 {
  position:absolute;
  left:0px;
  top:67px;
  width:165px;
  height:30px;
}
#u23920 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u23921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:30px;
}
#u23921 {
  position:absolute;
  left:165px;
  top:67px;
  width:457px;
  height:30px;
  color:#000000;
}
#u23922 {
  position:absolute;
  left:2px;
  top:7px;
  width:453px;
  word-wrap:break-word;
}
#u23923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:30px;
}
#u23923 {
  position:absolute;
  left:622px;
  top:67px;
  width:332px;
  height:30px;
}
#u23924 {
  position:absolute;
  left:2px;
  top:7px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u23925 {
  position:absolute;
  left:954px;
  top:67px;
  width:181px;
  height:30px;
}
#u23926 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u23927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:36px;
}
#u23927 {
  position:absolute;
  left:0px;
  top:97px;
  width:165px;
  height:36px;
}
#u23928 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u23929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:36px;
}
#u23929 {
  position:absolute;
  left:165px;
  top:97px;
  width:457px;
  height:36px;
  color:#000000;
}
#u23930 {
  position:absolute;
  left:2px;
  top:10px;
  width:453px;
  word-wrap:break-word;
}
#u23931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:36px;
}
#u23931 {
  position:absolute;
  left:622px;
  top:97px;
  width:332px;
  height:36px;
}
#u23932 {
  position:absolute;
  left:2px;
  top:10px;
  width:328px;
  word-wrap:break-word;
}
#u23933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u23933 {
  position:absolute;
  left:954px;
  top:97px;
  width:181px;
  height:36px;
}
#u23934 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u23935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:32px;
}
#u23935 {
  position:absolute;
  left:0px;
  top:133px;
  width:165px;
  height:32px;
}
#u23936 {
  position:absolute;
  left:2px;
  top:8px;
  width:161px;
  word-wrap:break-word;
}
#u23937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:32px;
}
#u23937 {
  position:absolute;
  left:165px;
  top:133px;
  width:457px;
  height:32px;
  color:#000000;
}
#u23938 {
  position:absolute;
  left:2px;
  top:8px;
  width:453px;
  word-wrap:break-word;
}
#u23939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:32px;
}
#u23939 {
  position:absolute;
  left:622px;
  top:133px;
  width:332px;
  height:32px;
}
#u23940 {
  position:absolute;
  left:2px;
  top:8px;
  width:328px;
  word-wrap:break-word;
}
#u23941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:32px;
}
#u23941 {
  position:absolute;
  left:954px;
  top:133px;
  width:181px;
  height:32px;
}
#u23942 {
  position:absolute;
  left:2px;
  top:8px;
  width:177px;
  word-wrap:break-word;
}
#u23943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u23943 {
  position:absolute;
  left:0px;
  top:165px;
  width:165px;
  height:30px;
}
#u23944 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u23945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:30px;
}
#u23945 {
  position:absolute;
  left:165px;
  top:165px;
  width:457px;
  height:30px;
  color:#000000;
}
#u23946 {
  position:absolute;
  left:2px;
  top:7px;
  width:453px;
  word-wrap:break-word;
}
#u23947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:30px;
}
#u23947 {
  position:absolute;
  left:622px;
  top:165px;
  width:332px;
  height:30px;
}
#u23948 {
  position:absolute;
  left:2px;
  top:7px;
  width:328px;
  word-wrap:break-word;
}
#u23949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u23949 {
  position:absolute;
  left:954px;
  top:165px;
  width:181px;
  height:30px;
}
#u23950 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u23951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1151px;
  height:2px;
}
#u23951 {
  position:absolute;
  left:200px;
  top:146px;
  width:1150px;
  height:1px;
}
#u23952 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23953 {
  position:absolute;
  left:1140px;
  top:95px;
  width:80px;
  height:40px;
}
#u23954 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u23955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23955 {
  position:absolute;
  left:1240px;
  top:95px;
  width:110px;
  height:40px;
}
#u23956 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u23957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u23957 {
  position:absolute;
  left:268px;
  top:418px;
  width:71px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23958 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  visibility:hidden;
  white-space:nowrap;
}
#u23959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  height:236px;
}
#u23959 {
  position:absolute;
  left:213px;
  top:414px;
  width:1145px;
  height:236px;
}
#u23960 {
  position:absolute;
  left:2px;
  top:110px;
  width:1141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:2px;
}
#u23961 {
  position:absolute;
  left:232px;
  top:451px;
  width:1106px;
  height:1px;
}
#u23962 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:19px;
}
#u23963 {
  position:absolute;
  left:267px;
  top:424px;
  width:556px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23964 {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  word-wrap:break-word;
}
#u23965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u23965 {
  position:absolute;
  left:235px;
  top:424px;
  width:19px;
  height:20px;
}
#u23966 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  height:5px;
  background:inherit;
  background-color:rgba(45, 158, 147, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23967 {
  position:absolute;
  left:213px;
  top:409px;
  width:1145px;
  height:5px;
}
#u23968 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23969 {
  position:absolute;
  left:195px;
  top:306px;
  width:1180px;
  height:30px;
}
#u23969_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23969.mouseOver {
  opacity:0.6;
}
#u23969_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23969.mouseDown {
}
#u23969_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23969.selected {
  opacity:0.6;
}
#u23970 {
  position:absolute;
  left:2px;
  top:7px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u23971 {
  position:absolute;
  left:272px;
  top:467px;
  width:86px;
  height:16px;
  text-align:center;
}
#u23972 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u23973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u23973 {
  position:absolute;
  left:724px;
  top:467px;
  width:113px;
  height:16px;
  text-align:center;
}
#u23974 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u23975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u23975 {
  position:absolute;
  left:274px;
  top:505px;
  width:86px;
  height:16px;
  text-align:center;
}
#u23976 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u23977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:19px;
}
#u23977 {
  position:absolute;
  left:254px;
  top:549px;
  width:114px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u23978 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u23979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u23979 {
  position:absolute;
  left:311px;
  top:591px;
  width:60px;
  height:16px;
  text-align:center;
}
#u23980 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u23981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u23981 {
  position:absolute;
  left:381px;
  top:462px;
  width:273px;
  height:24px;
  text-align:left;
}
#u23982 {
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u23983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u23983 {
  position:absolute;
  left:854px;
  top:463px;
  width:273px;
  height:24px;
  text-align:left;
}
#u23984 {
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u23985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u23985 {
  position:absolute;
  left:381px;
  top:505px;
  width:273px;
  height:24px;
  text-align:left;
}
#u23986 {
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u23987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23987 {
  position:absolute;
  left:381px;
  top:549px;
  width:96px;
  height:20px;
}
#u23988 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u23989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23989 {
  position:absolute;
  left:514px;
  top:549px;
  width:140px;
  height:20px;
}
#u23990 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u23991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u23991 {
  position:absolute;
  left:381px;
  top:587px;
  width:746px;
  height:24px;
  text-align:left;
}
#u23992 {
  position:absolute;
  left:2px;
  top:4px;
  width:742px;
  word-wrap:break-word;
}
#u23993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:2px;
}
#u23993 {
  position:absolute;
  left:213px;
  top:688px;
  width:1180px;
  height:1px;
  color:#FF0000;
}
#u23994 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u23995 {
  position:absolute;
  left:250px;
  top:678px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u23996 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  color:#000000;
}
#u23997 {
  position:absolute;
  left:213px;
  top:710px;
  width:1145px;
  height:170px;
  font-size:20px;
  color:#000000;
}
#u23998 {
  position:absolute;
  left:10px;
  top:49px;
  width:1125px;
  word-wrap:break-word;
}
#u23999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23999 {
  position:absolute;
  left:1240px;
  top:591px;
  width:80px;
  height:40px;
}
#u24000 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
