body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u12432 {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:80px;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u12433 {
  position:absolute;
  left:2px;
  top:23px;
  width:1376px;
  word-wrap:break-word;
}
#u12434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:2000px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12434 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:2000px;
}
#u12435 {
  position:absolute;
  left:2px;
  top:992px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u12436 {
  position:absolute;
  left:1150px;
  top:36px;
  width:210px;
  height:16px;
  color:#1E1E1E;
}
#u12437 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u12438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00A597;
}
#u12438 {
  position:absolute;
  left:217px;
  top:29px;
  width:243px;
  height:31px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00A597;
}
#u12439 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u12440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2000px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12440 {
  position:absolute;
  left:180px;
  top:80px;
  width:1200px;
  height:2000px;
}
#u12441 {
  position:absolute;
  left:2px;
  top:992px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12442 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12442_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12442.mouseOver {
}
#u12442_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12442.selected {
}
#u12443 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12444 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12444_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12444.mouseOver {
}
#u12444_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12444.selected {
}
#u12445 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:54px;
}
#u12446 {
  position:absolute;
  left:10px;
  top:10px;
  width:160px;
  height:54px;
}
#u12447 {
  position:absolute;
  left:2px;
  top:19px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12448 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12448_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12448.mouseOver {
}
#u12448_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12448.selected {
}
#u12449 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12450 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12450_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12450.mouseOver {
}
#u12450_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12450.selected {
}
#u12451 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12452 {
  position:absolute;
  left:0px;
  top:240px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12452_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12452.mouseOver {
}
#u12452_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12452.selected {
}
#u12453 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12454_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u12454 {
  position:absolute;
  left:120px;
  top:140px;
  width:30px;
  height:30px;
}
#u12455 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12456_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u12456 {
  position:absolute;
  left:120px;
  top:180px;
  width:30px;
  height:30px;
}
#u12457 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12458 {
  position:absolute;
  left:0px;
  top:280px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12458_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12458.mouseOver {
}
#u12458_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12458.selected {
}
#u12459 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12460 {
  position:absolute;
  left:0px;
  top:320px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12460_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12460.mouseOver {
}
#u12460_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12460.selected {
}
#u12461 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12462_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u12462 {
  position:absolute;
  left:120px;
  top:219px;
  width:30px;
  height:30px;
}
#u12463 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12464 {
  position:absolute;
  left:0px;
  top:360px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12464_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12464.mouseOver {
}
#u12464_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12464.selected {
}
#u12465 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12466 {
  position:absolute;
  left:0px;
  top:400px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12466_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12466.mouseOver {
}
#u12466_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12466.selected {
}
#u12467 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12468 {
  position:absolute;
  left:190px;
  top:240px;
}
#u12468_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1180px;
  height:180px;
  background-image:none;
}
#u12468_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:180px;
}
#u12469 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:180px;
}
#u12470 {
  position:absolute;
  left:2px;
  top:82px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u12471 {
  position:absolute;
  left:20px;
  top:45px;
  width:1140px;
  height:1px;
}
#u12472 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
  background:inherit;
  background-color:rgba(45, 158, 147, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12473 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
}
#u12474 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u12475 {
  position:absolute;
  left:55px;
  top:17px;
  width:57px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12476 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u12477 {
  position:absolute;
  left:30px;
  top:20px;
  width:16px;
  height:14px;
}
#u12478 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12479 {
  position:absolute;
  left:1130px;
  top:20px;
  width:20px;
  height:20px;
}
#u12480 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
}
#u12481 {
  position:absolute;
  left:30px;
  top:61px;
  width:64px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u12482 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u12483 {
  position:absolute;
  left:193px;
  top:59px;
  width:170px;
  height:25px;
}
#u12483_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
}
#u12484 {
  position:absolute;
  left:38px;
  top:111px;
  width:134px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u12485 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u12486 {
  position:absolute;
  left:193px;
  top:111px;
  width:957px;
  height:50px;
}
#u12486_input {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:19px;
}
#u12487 {
  position:absolute;
  left:419px;
  top:61px;
  width:148px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u12488 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u12489 {
  position:absolute;
  left:592px;
  top:58px;
  width:170px;
  height:25px;
}
#u12489_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u12490 {
  position:absolute;
  left:837px;
  top:61px;
  width:120px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u12491 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u12492 {
  position:absolute;
  left:980px;
  top:58px;
  width:170px;
  height:25px;
}
#u12492_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12468_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1180px;
  height:60px;
  visibility:hidden;
  background-image:none;
}
#u12468_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:60px;
}
#u12493 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:60px;
}
#u12494 {
  position:absolute;
  left:2px;
  top:22px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u12495 {
  position:absolute;
  left:20px;
  top:45px;
  width:1140px;
  height:1px;
}
#u12496 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
  background:inherit;
  background-color:rgba(45, 158, 147, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12497 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
}
#u12498 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12499 {
  position:absolute;
  left:1132px;
  top:20px;
  width:20px;
  height:20px;
}
#u12500 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u12501 {
  position:absolute;
  left:55px;
  top:17px;
  width:57px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12502 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u12503 {
  position:absolute;
  left:30px;
  top:20px;
  width:16px;
  height:14px;
}
#u12504 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12506 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:140px;
}
#u12507 {
  position:absolute;
  left:190px;
  top:90px;
  width:1180px;
  height:140px;
}
#u12508 {
  position:absolute;
  left:2px;
  top:62px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
  background:inherit;
  background-color:rgba(45, 158, 147, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12509 {
  position:absolute;
  left:190px;
  top:90px;
  width:1180px;
  height:5px;
}
#u12510 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u12511 {
  position:absolute;
  left:245px;
  top:107px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12512 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u12513 {
  position:absolute;
  left:216px;
  top:110px;
  width:16px;
  height:14px;
}
#u12514 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u12515 {
  position:absolute;
  left:210px;
  top:135px;
  width:1140px;
  height:1px;
}
#u12516 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:20px;
}
#u12517 {
  position:absolute;
  left:215px;
  top:152px;
  width:371px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12518 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  white-space:nowrap;
}
#u12519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:20px;
}
#u12519 {
  position:absolute;
  left:790px;
  top:152px;
  width:215px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12520 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u12521 {
  position:absolute;
  left:210px;
  top:190px;
  width:1145px;
  height:35px;
}
#u12522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u12522 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u12523 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u12524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u12524 {
  position:absolute;
  left:190px;
  top:0px;
  width:190px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u12525 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u12526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u12526 {
  position:absolute;
  left:380px;
  top:0px;
  width:190px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u12527 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u12528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u12528 {
  position:absolute;
  left:570px;
  top:0px;
  width:190px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u12529 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u12530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u12530 {
  position:absolute;
  left:760px;
  top:0px;
  width:190px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u12531 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u12532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u12532 {
  position:absolute;
  left:950px;
  top:0px;
  width:190px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u12533 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u12534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 165, 151, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12534 {
  position:absolute;
  left:1164px;
  top:190px;
  width:188px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12535 {
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
#u12536 {
  position:absolute;
  left:190px;
  top:430px;
}
#u12536_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1180px;
  height:330px;
  background-image:none;
}
#u12536_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:330px;
}
#u12537 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:330px;
}
#u12538 {
  position:absolute;
  left:2px;
  top:157px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u12539 {
  position:absolute;
  left:20px;
  top:45px;
  width:1140px;
  height:1px;
}
#u12540 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
  background:inherit;
  background-color:rgba(45, 158, 147, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12541 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
}
#u12542 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u12543 {
  position:absolute;
  left:55px;
  top:17px;
  width:57px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12544 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u12545 {
  position:absolute;
  left:30px;
  top:20px;
  width:16px;
  height:14px;
}
#u12546 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12547 {
  position:absolute;
  left:1130px;
  top:20px;
  width:20px;
  height:20px;
}
#u12548 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:19px;
}
#u12549 {
  position:absolute;
  left:37px;
  top:130px;
  width:78px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u12550 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u12551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
}
#u12551 {
  position:absolute;
  left:47px;
  top:177px;
  width:50px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u12552 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u12553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12553 {
  position:absolute;
  left:816px;
  top:270px;
  width:140px;
  height:30px;
}
#u12554 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u12555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12555 {
  position:absolute;
  left:966px;
  top:270px;
  width:140px;
  height:30px;
}
#u12556 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u12557 {
  position:absolute;
  left:20px;
  top:60px;
  width:1116px;
  height:35px;
}
#u12558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u12558 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u12559 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u12560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u12560 {
  position:absolute;
  left:90px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u12561 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u12562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u12562 {
  position:absolute;
  left:240px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u12563 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u12564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u12564 {
  position:absolute;
  left:390px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u12565 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u12566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u12566 {
  position:absolute;
  left:540px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u12567 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u12568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u12568 {
  position:absolute;
  left:690px;
  top:0px;
  width:139px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u12569 {
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u12570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u12570 {
  position:absolute;
  left:829px;
  top:0px;
  width:139px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u12571 {
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u12572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u12572 {
  position:absolute;
  left:968px;
  top:0px;
  width:143px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u12573 {
  position:absolute;
  left:2px;
  top:6px;
  width:139px;
  word-wrap:break-word;
}
#u12574 {
  position:absolute;
  left:172px;
  top:130px;
  width:347px;
  height:22px;
}
#u12574_input {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12574_input:disabled {
  color:grayText;
}
#u12575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
}
#u12575 {
  position:absolute;
  left:659px;
  top:130px;
  width:64px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u12576 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u12577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
}
#u12577 {
  position:absolute;
  left:662px;
  top:177px;
  width:50px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u12578 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u12579 {
  position:absolute;
  left:172px;
  top:177px;
  width:347px;
  height:22px;
}
#u12579_input {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12579_input:disabled {
  color:grayText;
}
#u12580 {
  position:absolute;
  left:759px;
  top:130px;
  width:347px;
  height:22px;
}
#u12580_input {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12580_input:disabled {
  color:grayText;
}
#u12581 {
  position:absolute;
  left:759px;
  top:177px;
  width:347px;
  height:22px;
}
#u12581_input {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12581_input:disabled {
  color:grayText;
}
#u12582 {
  position:absolute;
  left:172px;
  top:225px;
  width:346px;
  height:25px;
}
#u12582_input {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
}
#u12583 {
  position:absolute;
  left:46px;
  top:228px;
  width:64px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u12584 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u12585 {
  position:absolute;
  left:760px;
  top:222px;
  width:346px;
  height:25px;
}
#u12585_input {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
}
#u12586 {
  position:absolute;
  left:659px;
  top:228px;
  width:64px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u12587 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u12536_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1180px;
  height:60px;
  visibility:hidden;
  background-image:none;
}
#u12536_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:60px;
}
#u12588 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:60px;
}
#u12589 {
  position:absolute;
  left:2px;
  top:22px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u12590 {
  position:absolute;
  left:20px;
  top:45px;
  width:1140px;
  height:1px;
}
#u12591 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12592_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
  background:inherit;
  background-color:rgba(45, 158, 147, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12592 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:5px;
}
#u12593 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12594_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12594 {
  position:absolute;
  left:1132px;
  top:20px;
  width:20px;
  height:20px;
}
#u12595 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u12596 {
  position:absolute;
  left:55px;
  top:17px;
  width:57px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12597 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u12598 {
  position:absolute;
  left:30px;
  top:20px;
  width:16px;
  height:14px;
}
#u12599 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12600 {
  position:fixed;
  left:640px;
  bottom:20px;
}
#u12600_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:388px;
  height:50px;
  background-image:none;
}
#u12600_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12601 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u12602 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u12603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12603 {
  position:absolute;
  left:160px;
  top:0px;
  width:140px;
  height:40px;
}
#u12604 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u12605_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u12605 {
  position:absolute;
  left:120px;
  top:20px;
  width:30px;
  height:30px;
}
#u12606 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12607 {
  position:absolute;
  left:330px;
  top:10px;
  width:58px;
  height:20px;
}
#u12608 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
