body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u15159 {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:80px;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u15160 {
  position:absolute;
  left:2px;
  top:23px;
  width:1376px;
  word-wrap:break-word;
}
#u15161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:2000px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15161 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:2000px;
}
#u15162 {
  position:absolute;
  left:2px;
  top:992px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u15163 {
  position:absolute;
  left:1150px;
  top:36px;
  width:210px;
  height:16px;
  color:#1E1E1E;
}
#u15164 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u15165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00A597;
}
#u15165 {
  position:absolute;
  left:217px;
  top:29px;
  width:243px;
  height:31px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00A597;
}
#u15166 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u15167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2000px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15167 {
  position:absolute;
  left:180px;
  top:80px;
  width:1200px;
  height:2000px;
}
#u15168 {
  position:absolute;
  left:2px;
  top:992px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15169 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15169_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15169.mouseOver {
}
#u15169_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15169.selected {
}
#u15170 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15171 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15171_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15171.mouseOver {
}
#u15171_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15171.selected {
}
#u15172 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:54px;
}
#u15173 {
  position:absolute;
  left:10px;
  top:10px;
  width:160px;
  height:54px;
}
#u15174 {
  position:absolute;
  left:2px;
  top:19px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15175 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15175_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15175.mouseOver {
}
#u15175_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15175.selected {
}
#u15176 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15177 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15177_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15177.mouseOver {
}
#u15177_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15177.selected {
}
#u15178 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15179 {
  position:absolute;
  left:0px;
  top:240px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15179_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15179.mouseOver {
}
#u15179_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15179.selected {
}
#u15180 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15181_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u15181 {
  position:absolute;
  left:120px;
  top:140px;
  width:30px;
  height:30px;
}
#u15182 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15183_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u15183 {
  position:absolute;
  left:120px;
  top:180px;
  width:30px;
  height:30px;
}
#u15184 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15185 {
  position:absolute;
  left:0px;
  top:280px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15185_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15185.mouseOver {
}
#u15185_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15185.selected {
}
#u15186 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15187 {
  position:absolute;
  left:0px;
  top:320px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15187_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15187.mouseOver {
}
#u15187_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15187.selected {
}
#u15188 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15189_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u15189 {
  position:absolute;
  left:120px;
  top:219px;
  width:30px;
  height:30px;
}
#u15190 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15191 {
  position:absolute;
  left:0px;
  top:360px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15191_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15191.mouseOver {
}
#u15191_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15191.selected {
}
#u15192 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u15193 {
  position:absolute;
  left:215px;
  top:200px;
  width:1140px;
  height:185px;
}
#u15194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15194 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15195 {
  position:absolute;
  left:2px;
  top:6px;
  width:223px;
  word-wrap:break-word;
}
#u15196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15196 {
  position:absolute;
  left:227px;
  top:0px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15197 {
  position:absolute;
  left:2px;
  top:6px;
  width:223px;
  word-wrap:break-word;
}
#u15198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15198 {
  position:absolute;
  left:454px;
  top:0px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15199 {
  position:absolute;
  left:2px;
  top:6px;
  width:223px;
  word-wrap:break-word;
}
#u15200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15200 {
  position:absolute;
  left:681px;
  top:0px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15201 {
  position:absolute;
  left:2px;
  top:6px;
  width:223px;
  word-wrap:break-word;
}
#u15202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15202 {
  position:absolute;
  left:908px;
  top:0px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15203 {
  position:absolute;
  left:2px;
  top:6px;
  width:223px;
  word-wrap:break-word;
}
#u15204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15204 {
  position:absolute;
  left:0px;
  top:30px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15205 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15206 {
  position:absolute;
  left:227px;
  top:30px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15207 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15208 {
  position:absolute;
  left:454px;
  top:30px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15209 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15210 {
  position:absolute;
  left:681px;
  top:30px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15211 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15212 {
  position:absolute;
  left:908px;
  top:30px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15213 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15214 {
  position:absolute;
  left:0px;
  top:60px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15215 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15216 {
  position:absolute;
  left:227px;
  top:60px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15217 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15218 {
  position:absolute;
  left:454px;
  top:60px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15219 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15220 {
  position:absolute;
  left:681px;
  top:60px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15221 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15222 {
  position:absolute;
  left:908px;
  top:60px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15223 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15224 {
  position:absolute;
  left:0px;
  top:90px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15225 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15226 {
  position:absolute;
  left:227px;
  top:90px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15227 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15228 {
  position:absolute;
  left:454px;
  top:90px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15229 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15230 {
  position:absolute;
  left:681px;
  top:90px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15231 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15232 {
  position:absolute;
  left:908px;
  top:90px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15233 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15234 {
  position:absolute;
  left:0px;
  top:120px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15235 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15236 {
  position:absolute;
  left:227px;
  top:120px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15237 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15238 {
  position:absolute;
  left:454px;
  top:120px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15239 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15240 {
  position:absolute;
  left:681px;
  top:120px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15241 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15242 {
  position:absolute;
  left:908px;
  top:120px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15243 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15244 {
  position:absolute;
  left:0px;
  top:150px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15245 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15246 {
  position:absolute;
  left:227px;
  top:150px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15247 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15248 {
  position:absolute;
  left:454px;
  top:150px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15249 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15250 {
  position:absolute;
  left:681px;
  top:150px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15251 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u15252 {
  position:absolute;
  left:908px;
  top:150px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u15253 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u15254 {
  position:absolute;
  left:215px;
  top:105px;
  width:57px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u15255 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u15256 {
  position:absolute;
  left:320px;
  top:102px;
  width:290px;
  height:25px;
}
#u15256_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u15257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
}
#u15257 {
  position:absolute;
  left:724px;
  top:105px;
  width:43px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u15258 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u15259 {
  position:absolute;
  left:819px;
  top:102px;
  width:290px;
  height:25px;
}
#u15259_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u15260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u15260 {
  position:absolute;
  left:215px;
  top:167px;
  width:126px;
  height:16px;
}
#u15261 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u15262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1151px;
  height:2px;
}
#u15262 {
  position:absolute;
  left:200px;
  top:146px;
  width:1150px;
  height:1px;
}
#u15263 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15264 {
  position:absolute;
  left:1140px;
  top:95px;
  width:80px;
  height:40px;
}
#u15265 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u15266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15266 {
  position:absolute;
  left:1240px;
  top:95px;
  width:110px;
  height:40px;
}
#u15267 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u15268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15268 {
  position:absolute;
  left:1210px;
  top:151px;
  width:140px;
  height:40px;
}
#u15269 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u15270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u15270 {
  position:absolute;
  left:268px;
  top:418px;
  width:71px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15271 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  visibility:hidden;
  white-space:nowrap;
}
#u15272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  height:306px;
}
#u15272 {
  position:absolute;
  left:213px;
  top:414px;
  width:1145px;
  height:306px;
}
#u15273 {
  position:absolute;
  left:2px;
  top:145px;
  width:1141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:2px;
}
#u15274 {
  position:absolute;
  left:232px;
  top:451px;
  width:1106px;
  height:1px;
}
#u15275 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:19px;
}
#u15276 {
  position:absolute;
  left:267px;
  top:424px;
  width:556px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15277 {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  word-wrap:break-word;
}
#u15278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u15278 {
  position:absolute;
  left:235px;
  top:424px;
  width:19px;
  height:20px;
}
#u15279 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  height:5px;
  background:inherit;
  background-color:rgba(45, 158, 147, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15280 {
  position:absolute;
  left:213px;
  top:409px;
  width:1145px;
  height:5px;
}
#u15281 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u15282 {
  position:absolute;
  left:239px;
  top:664px;
  width:57px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u15283 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u15284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
}
#u15284 {
  position:absolute;
  left:235px;
  top:527px;
  width:36px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u15285 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u15286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
}
#u15286 {
  position:absolute;
  left:235px;
  top:622px;
  width:36px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u15287 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u15288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
}
#u15288 {
  position:absolute;
  left:924px;
  top:625px;
  width:36px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u15289 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u15290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
}
#u15290 {
  position:absolute;
  left:235px;
  top:575px;
  width:92px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u15291 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u15292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
}
#u15292 {
  position:absolute;
  left:875px;
  top:571px;
  width:92px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u15293 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u15294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
}
#u15294 {
  position:absolute;
  left:238px;
  top:473px;
  width:64px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u15295 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u15296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15296 {
  position:absolute;
  left:362px;
  top:470px;
  width:348px;
  height:26px;
  text-align:left;
}
#u15297 {
  position:absolute;
  left:2px;
  top:5px;
  width:344px;
  word-wrap:break-word;
}
#u15298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
}
#u15298 {
  position:absolute;
  left:882px;
  top:473px;
  width:36px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u15299 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u15300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15300 {
  position:absolute;
  left:990px;
  top:470px;
  width:348px;
  height:26px;
  text-align:left;
}
#u15301 {
  position:absolute;
  left:2px;
  top:5px;
  width:344px;
  word-wrap:break-word;
}
#u15302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15302 {
  position:absolute;
  left:362px;
  top:527px;
  width:348px;
  height:26px;
  text-align:left;
}
#u15303 {
  position:absolute;
  left:2px;
  top:5px;
  width:344px;
  word-wrap:break-word;
}
#u15304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15304 {
  position:absolute;
  left:362px;
  top:575px;
  width:348px;
  height:26px;
  text-align:left;
}
#u15305 {
  position:absolute;
  left:2px;
  top:5px;
  width:344px;
  word-wrap:break-word;
}
#u15306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15306 {
  position:absolute;
  left:362px;
  top:611px;
  width:348px;
  height:26px;
  text-align:left;
}
#u15307 {
  position:absolute;
  left:2px;
  top:5px;
  width:344px;
  word-wrap:break-word;
}
#u15308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15308 {
  position:absolute;
  left:362px;
  top:664px;
  width:348px;
  height:26px;
  text-align:left;
}
#u15309 {
  position:absolute;
  left:2px;
  top:5px;
  width:344px;
  word-wrap:break-word;
}
#u15310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15310 {
  position:absolute;
  left:991px;
  top:564px;
  width:348px;
  height:26px;
  text-align:left;
}
#u15311 {
  position:absolute;
  left:2px;
  top:5px;
  width:344px;
  word-wrap:break-word;
}
#u15312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15312 {
  position:absolute;
  left:990px;
  top:625px;
  width:348px;
  height:26px;
  text-align:left;
}
#u15313 {
  position:absolute;
  left:2px;
  top:5px;
  width:344px;
  word-wrap:break-word;
}
#u15314_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u15314 {
  position:absolute;
  left:1328px;
  top:171px;
  width:30px;
  height:30px;
}
#u15315 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
