body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u23654 {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:80px;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u23655 {
  position:absolute;
  left:2px;
  top:23px;
  width:1376px;
  word-wrap:break-word;
}
#u23656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:2000px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23656 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:2000px;
}
#u23657 {
  position:absolute;
  left:2px;
  top:992px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u23658 {
  position:absolute;
  left:1150px;
  top:36px;
  width:210px;
  height:16px;
  color:#1E1E1E;
}
#u23659 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u23660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00A597;
}
#u23660 {
  position:absolute;
  left:217px;
  top:29px;
  width:243px;
  height:31px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00A597;
}
#u23661 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u23662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2000px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23662 {
  position:absolute;
  left:180px;
  top:80px;
  width:1200px;
  height:2000px;
}
#u23663 {
  position:absolute;
  left:2px;
  top:992px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23664 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23664_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23664.mouseOver {
}
#u23664_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23664.selected {
}
#u23665 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23666 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23666_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23666.mouseOver {
}
#u23666_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23666.selected {
}
#u23667 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:54px;
}
#u23668 {
  position:absolute;
  left:10px;
  top:10px;
  width:160px;
  height:54px;
}
#u23669 {
  position:absolute;
  left:2px;
  top:19px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23670 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23670_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23670.mouseOver {
}
#u23670_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23670.selected {
}
#u23671 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23672 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23672_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23672.mouseOver {
}
#u23672_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23672.selected {
}
#u23673 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23674 {
  position:absolute;
  left:0px;
  top:240px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23674_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23674.mouseOver {
}
#u23674_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23674.selected {
}
#u23675 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23676_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u23676 {
  position:absolute;
  left:120px;
  top:140px;
  width:30px;
  height:30px;
}
#u23677 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23678_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u23678 {
  position:absolute;
  left:120px;
  top:180px;
  width:30px;
  height:30px;
}
#u23679 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23680 {
  position:absolute;
  left:0px;
  top:280px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23680_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23680.mouseOver {
}
#u23680_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23680.selected {
}
#u23681 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23682 {
  position:absolute;
  left:0px;
  top:320px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23682_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23682.mouseOver {
}
#u23682_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23682.selected {
}
#u23683 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23684_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u23684 {
  position:absolute;
  left:120px;
  top:219px;
  width:30px;
  height:30px;
}
#u23685 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23686 {
  position:absolute;
  left:0px;
  top:360px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23686_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23686.mouseOver {
}
#u23686_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23686.selected {
}
#u23687 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23688 {
  position:absolute;
  left:0px;
  top:400px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23688_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23688.mouseOver {
}
#u23688_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23688.selected {
}
#u23689 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23690 {
  position:absolute;
  left:215px;
  top:200px;
  width:1140px;
  height:185px;
}
#u23691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23691 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23692 {
  position:absolute;
  left:2px;
  top:6px;
  width:223px;
  word-wrap:break-word;
}
#u23693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23693 {
  position:absolute;
  left:227px;
  top:0px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23694 {
  position:absolute;
  left:2px;
  top:6px;
  width:223px;
  word-wrap:break-word;
}
#u23695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23695 {
  position:absolute;
  left:454px;
  top:0px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23696 {
  position:absolute;
  left:2px;
  top:6px;
  width:223px;
  word-wrap:break-word;
}
#u23697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23697 {
  position:absolute;
  left:681px;
  top:0px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23698 {
  position:absolute;
  left:2px;
  top:6px;
  width:223px;
  word-wrap:break-word;
}
#u23699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23699 {
  position:absolute;
  left:908px;
  top:0px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23700 {
  position:absolute;
  left:2px;
  top:6px;
  width:223px;
  word-wrap:break-word;
}
#u23701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23701 {
  position:absolute;
  left:0px;
  top:30px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23702 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23703 {
  position:absolute;
  left:227px;
  top:30px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23704 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23705 {
  position:absolute;
  left:454px;
  top:30px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23706 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23707 {
  position:absolute;
  left:681px;
  top:30px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23708 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23709 {
  position:absolute;
  left:908px;
  top:30px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23710 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23711 {
  position:absolute;
  left:0px;
  top:60px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23712 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23713 {
  position:absolute;
  left:227px;
  top:60px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23714 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23715 {
  position:absolute;
  left:454px;
  top:60px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23716 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23717 {
  position:absolute;
  left:681px;
  top:60px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23718 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23719 {
  position:absolute;
  left:908px;
  top:60px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23720 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23721 {
  position:absolute;
  left:0px;
  top:90px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23722 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23723 {
  position:absolute;
  left:227px;
  top:90px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23724 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23725 {
  position:absolute;
  left:454px;
  top:90px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23726 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23727 {
  position:absolute;
  left:681px;
  top:90px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23728 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23729 {
  position:absolute;
  left:908px;
  top:90px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23730 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23731 {
  position:absolute;
  left:0px;
  top:120px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23732 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23733 {
  position:absolute;
  left:227px;
  top:120px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23734 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23735 {
  position:absolute;
  left:454px;
  top:120px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23736 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23737 {
  position:absolute;
  left:681px;
  top:120px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23738 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23739 {
  position:absolute;
  left:908px;
  top:120px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23740 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23741 {
  position:absolute;
  left:0px;
  top:150px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23742 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23743 {
  position:absolute;
  left:227px;
  top:150px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23744 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23745 {
  position:absolute;
  left:454px;
  top:150px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23746 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23747 {
  position:absolute;
  left:681px;
  top:150px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23748 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u23749 {
  position:absolute;
  left:908px;
  top:150px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00A597;
}
#u23750 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u23751 {
  position:absolute;
  left:215px;
  top:105px;
  width:57px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u23752 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23753 {
  position:absolute;
  left:320px;
  top:102px;
  width:290px;
  height:25px;
}
#u23753_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u23754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
}
#u23754 {
  position:absolute;
  left:724px;
  top:105px;
  width:43px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u23755 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u23756 {
  position:absolute;
  left:819px;
  top:102px;
  width:290px;
  height:25px;
}
#u23756_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u23757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u23757 {
  position:absolute;
  left:215px;
  top:167px;
  width:126px;
  height:16px;
}
#u23758 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u23759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1151px;
  height:2px;
}
#u23759 {
  position:absolute;
  left:200px;
  top:146px;
  width:1150px;
  height:1px;
}
#u23760 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23761 {
  position:absolute;
  left:1140px;
  top:95px;
  width:80px;
  height:40px;
}
#u23762 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u23763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23763 {
  position:absolute;
  left:1240px;
  top:95px;
  width:110px;
  height:40px;
}
#u23764 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u23765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23765 {
  position:absolute;
  left:1210px;
  top:151px;
  width:140px;
  height:40px;
}
#u23766 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u23767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u23767 {
  position:absolute;
  left:268px;
  top:418px;
  width:71px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23768 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  visibility:hidden;
  white-space:nowrap;
}
#u23769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  height:306px;
}
#u23769 {
  position:absolute;
  left:213px;
  top:414px;
  width:1145px;
  height:306px;
}
#u23770 {
  position:absolute;
  left:2px;
  top:145px;
  width:1141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:2px;
}
#u23771 {
  position:absolute;
  left:232px;
  top:451px;
  width:1106px;
  height:1px;
}
#u23772 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:19px;
}
#u23773 {
  position:absolute;
  left:267px;
  top:424px;
  width:556px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23774 {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  word-wrap:break-word;
}
#u23775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u23775 {
  position:absolute;
  left:235px;
  top:424px;
  width:19px;
  height:20px;
}
#u23776 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  height:5px;
  background:inherit;
  background-color:rgba(45, 158, 147, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23777 {
  position:absolute;
  left:213px;
  top:409px;
  width:1145px;
  height:5px;
}
#u23778 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u23779 {
  position:absolute;
  left:239px;
  top:664px;
  width:57px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u23780 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
}
#u23781 {
  position:absolute;
  left:235px;
  top:527px;
  width:36px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u23782 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u23783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
}
#u23783 {
  position:absolute;
  left:235px;
  top:622px;
  width:36px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u23784 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u23785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
}
#u23785 {
  position:absolute;
  left:924px;
  top:625px;
  width:36px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u23786 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u23787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
}
#u23787 {
  position:absolute;
  left:235px;
  top:575px;
  width:92px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u23788 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u23789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
}
#u23789 {
  position:absolute;
  left:875px;
  top:571px;
  width:92px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u23790 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u23791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
}
#u23791 {
  position:absolute;
  left:238px;
  top:473px;
  width:64px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u23792 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u23793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u23793 {
  position:absolute;
  left:362px;
  top:470px;
  width:348px;
  height:26px;
  text-align:left;
}
#u23794 {
  position:absolute;
  left:2px;
  top:5px;
  width:344px;
  word-wrap:break-word;
}
#u23795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
}
#u23795 {
  position:absolute;
  left:882px;
  top:473px;
  width:36px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u23796 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u23797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u23797 {
  position:absolute;
  left:990px;
  top:470px;
  width:348px;
  height:26px;
  text-align:left;
}
#u23798 {
  position:absolute;
  left:2px;
  top:5px;
  width:344px;
  word-wrap:break-word;
}
#u23799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u23799 {
  position:absolute;
  left:362px;
  top:527px;
  width:348px;
  height:26px;
  text-align:left;
}
#u23800 {
  position:absolute;
  left:2px;
  top:5px;
  width:344px;
  word-wrap:break-word;
}
#u23801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u23801 {
  position:absolute;
  left:362px;
  top:575px;
  width:348px;
  height:26px;
  text-align:left;
}
#u23802 {
  position:absolute;
  left:2px;
  top:5px;
  width:344px;
  word-wrap:break-word;
}
#u23803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u23803 {
  position:absolute;
  left:362px;
  top:611px;
  width:348px;
  height:26px;
  text-align:left;
}
#u23804 {
  position:absolute;
  left:2px;
  top:5px;
  width:344px;
  word-wrap:break-word;
}
#u23805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u23805 {
  position:absolute;
  left:362px;
  top:664px;
  width:348px;
  height:26px;
  text-align:left;
}
#u23806 {
  position:absolute;
  left:2px;
  top:5px;
  width:344px;
  word-wrap:break-word;
}
#u23807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u23807 {
  position:absolute;
  left:991px;
  top:564px;
  width:348px;
  height:26px;
  text-align:left;
}
#u23808 {
  position:absolute;
  left:2px;
  top:5px;
  width:344px;
  word-wrap:break-word;
}
#u23809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u23809 {
  position:absolute;
  left:990px;
  top:625px;
  width:348px;
  height:26px;
  text-align:left;
}
#u23810 {
  position:absolute;
  left:2px;
  top:5px;
  width:344px;
  word-wrap:break-word;
}
#u23811_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u23811 {
  position:absolute;
  left:1328px;
  top:171px;
  width:30px;
  height:30px;
}
#u23812 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
