body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:330px;
}
#u2761 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:330px;
}
#u2762 {
  position:absolute;
  left:2px;
  top:157px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:369px;
}
#u2763 {
  position:absolute;
  left:0px;
  top:340px;
  width:800px;
  height:369px;
}
#u2764 {
  position:absolute;
  left:2px;
  top:176px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
