body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21196 {
  position:absolute;
  left:10px;
  top:20px;
  width:659px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21197 {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  white-space:nowrap;
}
#u21198 {
  position:absolute;
  left:10px;
  top:80px;
  width:805px;
  height:549px;
}
#u21199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21199 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
  color:#FF0000;
}
#u21200 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u21201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21201 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:68px;
}
#u21202 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21203 {
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:68px;
}
#u21204 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21205 {
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:68px;
}
#u21206 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21207 {
  position:absolute;
  left:320px;
  top:0px;
  width:80px;
  height:68px;
}
#u21208 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u21209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21209 {
  position:absolute;
  left:400px;
  top:0px;
  width:80px;
  height:68px;
}
#u21210 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u21211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21211 {
  position:absolute;
  left:480px;
  top:0px;
  width:80px;
  height:68px;
}
#u21212 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u21213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21213 {
  position:absolute;
  left:560px;
  top:0px;
  width:80px;
  height:68px;
}
#u21214 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u21215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21215 {
  position:absolute;
  left:640px;
  top:0px;
  width:80px;
  height:68px;
}
#u21216 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u21217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21217 {
  position:absolute;
  left:720px;
  top:0px;
  width:80px;
  height:68px;
}
#u21218 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21219 {
  position:absolute;
  left:0px;
  top:68px;
  width:80px;
  height:68px;
  color:#FF0000;
}
#u21220 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u21221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21221 {
  position:absolute;
  left:80px;
  top:68px;
  width:80px;
  height:68px;
}
#u21222 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21223 {
  position:absolute;
  left:160px;
  top:68px;
  width:80px;
  height:68px;
}
#u21224 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21225 {
  position:absolute;
  left:240px;
  top:68px;
  width:80px;
  height:68px;
}
#u21226 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21227 {
  position:absolute;
  left:320px;
  top:68px;
  width:80px;
  height:68px;
}
#u21228 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u21229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21229 {
  position:absolute;
  left:400px;
  top:68px;
  width:80px;
  height:68px;
}
#u21230 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u21231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21231 {
  position:absolute;
  left:480px;
  top:68px;
  width:80px;
  height:68px;
}
#u21232 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u21233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21233 {
  position:absolute;
  left:560px;
  top:68px;
  width:80px;
  height:68px;
}
#u21234 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21235 {
  position:absolute;
  left:640px;
  top:68px;
  width:80px;
  height:68px;
}
#u21236 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21237 {
  position:absolute;
  left:720px;
  top:68px;
  width:80px;
  height:68px;
}
#u21238 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21239 {
  position:absolute;
  left:0px;
  top:136px;
  width:80px;
  height:84px;
  color:#FF0000;
}
#u21240 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u21241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21241 {
  position:absolute;
  left:80px;
  top:136px;
  width:80px;
  height:84px;
}
#u21242 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  word-wrap:break-word;
}
#u21243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21243 {
  position:absolute;
  left:160px;
  top:136px;
  width:80px;
  height:84px;
}
#u21244 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  word-wrap:break-word;
}
#u21245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21245 {
  position:absolute;
  left:240px;
  top:136px;
  width:80px;
  height:84px;
}
#u21246 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  word-wrap:break-word;
}
#u21247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21247 {
  position:absolute;
  left:320px;
  top:136px;
  width:80px;
  height:84px;
}
#u21248 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21249 {
  position:absolute;
  left:400px;
  top:136px;
  width:80px;
  height:84px;
}
#u21250 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21251 {
  position:absolute;
  left:480px;
  top:136px;
  width:80px;
  height:84px;
}
#u21252 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21253 {
  position:absolute;
  left:560px;
  top:136px;
  width:80px;
  height:84px;
}
#u21254 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21255 {
  position:absolute;
  left:640px;
  top:136px;
  width:80px;
  height:84px;
}
#u21256 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21257 {
  position:absolute;
  left:720px;
  top:136px;
  width:80px;
  height:84px;
}
#u21258 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  word-wrap:break-word;
}
#u21259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u21259 {
  position:absolute;
  left:0px;
  top:220px;
  width:80px;
  height:20px;
}
#u21260 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u21261 {
  position:absolute;
  left:80px;
  top:220px;
  width:80px;
  height:20px;
}
#u21262 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u21263 {
  position:absolute;
  left:160px;
  top:220px;
  width:80px;
  height:20px;
}
#u21264 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u21265 {
  position:absolute;
  left:240px;
  top:220px;
  width:80px;
  height:20px;
}
#u21266 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u21267 {
  position:absolute;
  left:320px;
  top:220px;
  width:80px;
  height:20px;
}
#u21268 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u21269 {
  position:absolute;
  left:400px;
  top:220px;
  width:80px;
  height:20px;
}
#u21270 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u21271 {
  position:absolute;
  left:480px;
  top:220px;
  width:80px;
  height:20px;
}
#u21272 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u21273 {
  position:absolute;
  left:560px;
  top:220px;
  width:80px;
  height:20px;
}
#u21274 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u21275 {
  position:absolute;
  left:640px;
  top:220px;
  width:80px;
  height:20px;
}
#u21276 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u21277 {
  position:absolute;
  left:720px;
  top:220px;
  width:80px;
  height:20px;
}
#u21278 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21279 {
  position:absolute;
  left:0px;
  top:240px;
  width:80px;
  height:68px;
  color:#FF0000;
}
#u21280 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u21281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21281 {
  position:absolute;
  left:80px;
  top:240px;
  width:80px;
  height:68px;
}
#u21282 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u21283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21283 {
  position:absolute;
  left:160px;
  top:240px;
  width:80px;
  height:68px;
}
#u21284 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u21285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21285 {
  position:absolute;
  left:240px;
  top:240px;
  width:80px;
  height:68px;
}
#u21286 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u21287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21287 {
  position:absolute;
  left:320px;
  top:240px;
  width:80px;
  height:68px;
}
#u21288 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21289 {
  position:absolute;
  left:400px;
  top:240px;
  width:80px;
  height:68px;
}
#u21290 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21291 {
  position:absolute;
  left:480px;
  top:240px;
  width:80px;
  height:68px;
}
#u21292 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21293 {
  position:absolute;
  left:560px;
  top:240px;
  width:80px;
  height:68px;
}
#u21294 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21295 {
  position:absolute;
  left:640px;
  top:240px;
  width:80px;
  height:68px;
}
#u21296 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21297 {
  position:absolute;
  left:720px;
  top:240px;
  width:80px;
  height:68px;
}
#u21298 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21299 {
  position:absolute;
  left:0px;
  top:308px;
  width:80px;
  height:84px;
  color:#FF0000;
}
#u21300 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u21301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21301 {
  position:absolute;
  left:80px;
  top:308px;
  width:80px;
  height:84px;
}
#u21302 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  word-wrap:break-word;
}
#u21303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21303 {
  position:absolute;
  left:160px;
  top:308px;
  width:80px;
  height:84px;
}
#u21304 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  word-wrap:break-word;
}
#u21305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21305 {
  position:absolute;
  left:240px;
  top:308px;
  width:80px;
  height:84px;
}
#u21306 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21307 {
  position:absolute;
  left:320px;
  top:308px;
  width:80px;
  height:84px;
}
#u21308 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21309 {
  position:absolute;
  left:400px;
  top:308px;
  width:80px;
  height:84px;
}
#u21310 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  word-wrap:break-word;
}
#u21311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21311 {
  position:absolute;
  left:480px;
  top:308px;
  width:80px;
  height:84px;
}
#u21312 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21313 {
  position:absolute;
  left:560px;
  top:308px;
  width:80px;
  height:84px;
}
#u21314 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21315 {
  position:absolute;
  left:640px;
  top:308px;
  width:80px;
  height:84px;
}
#u21316 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21317 {
  position:absolute;
  left:720px;
  top:308px;
  width:80px;
  height:84px;
}
#u21318 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21319 {
  position:absolute;
  left:0px;
  top:392px;
  width:80px;
  height:68px;
  color:#FF0000;
}
#u21320 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u21321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21321 {
  position:absolute;
  left:80px;
  top:392px;
  width:80px;
  height:68px;
}
#u21322 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u21323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21323 {
  position:absolute;
  left:160px;
  top:392px;
  width:80px;
  height:68px;
}
#u21324 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u21325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21325 {
  position:absolute;
  left:240px;
  top:392px;
  width:80px;
  height:68px;
}
#u21326 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u21327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21327 {
  position:absolute;
  left:320px;
  top:392px;
  width:80px;
  height:68px;
}
#u21328 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21329 {
  position:absolute;
  left:400px;
  top:392px;
  width:80px;
  height:68px;
}
#u21330 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u21331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21331 {
  position:absolute;
  left:480px;
  top:392px;
  width:80px;
  height:68px;
}
#u21332 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u21333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21333 {
  position:absolute;
  left:560px;
  top:392px;
  width:80px;
  height:68px;
}
#u21334 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u21335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21335 {
  position:absolute;
  left:640px;
  top:392px;
  width:80px;
  height:68px;
}
#u21336 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u21337 {
  position:absolute;
  left:720px;
  top:392px;
  width:80px;
  height:68px;
}
#u21338 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21339 {
  position:absolute;
  left:0px;
  top:460px;
  width:80px;
  height:84px;
  color:#FF0000;
}
#u21340 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u21341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21341 {
  position:absolute;
  left:80px;
  top:460px;
  width:80px;
  height:84px;
}
#u21342 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  word-wrap:break-word;
}
#u21343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21343 {
  position:absolute;
  left:160px;
  top:460px;
  width:80px;
  height:84px;
}
#u21344 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  word-wrap:break-word;
}
#u21345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21345 {
  position:absolute;
  left:240px;
  top:460px;
  width:80px;
  height:84px;
}
#u21346 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21347 {
  position:absolute;
  left:320px;
  top:460px;
  width:80px;
  height:84px;
}
#u21348 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21349 {
  position:absolute;
  left:400px;
  top:460px;
  width:80px;
  height:84px;
}
#u21350 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21351 {
  position:absolute;
  left:480px;
  top:460px;
  width:80px;
  height:84px;
}
#u21352 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21353 {
  position:absolute;
  left:560px;
  top:460px;
  width:80px;
  height:84px;
}
#u21354 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u21355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21355 {
  position:absolute;
  left:640px;
  top:460px;
  width:80px;
  height:84px;
}
#u21356 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  word-wrap:break-word;
}
#u21357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u21357 {
  position:absolute;
  left:720px;
  top:460px;
  width:80px;
  height:84px;
}
#u21358 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
