body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11276 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:6px;
}
#u11277 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:6px;
}
#u11278 {
  position:absolute;
  left:2px;
  top:-5px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:156px;
}
#u11279 {
  position:absolute;
  left:0px;
  top:4px;
  width:430px;
  height:156px;
}
#u11280 {
  position:absolute;
  left:2px;
  top:70px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:23px;
}
#u11281 {
  position:absolute;
  left:50px;
  top:26px;
  width:145px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u11282 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u11283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11283 {
  position:absolute;
  left:50px;
  top:80px;
  width:127px;
  height:40px;
}
#u11284 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u11285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11285 {
  position:absolute;
  left:220px;
  top:80px;
  width:110px;
  height:40px;
}
#u11286 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u11287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u11287 {
  position:absolute;
  left:50px;
  top:60px;
  width:330px;
  height:1px;
}
#u11288 {
  position:absolute;
  left:2px;
  top:-8px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11289_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u11289 {
  position:absolute;
  left:310px;
  top:100px;
  width:30px;
  height:30px;
}
#u11290 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11291_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u11291 {
  position:absolute;
  left:165px;
  top:100px;
  width:30px;
  height:30px;
}
#u11292 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:15px;
}
#u11293 {
  position:absolute;
  left:53px;
  top:131px;
  width:290px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u11294 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  white-space:nowrap;
}
